mixin _energy
    section.page_main_content
        .energy_token_stats
            .energy_token_stats__title 
                |energy token
            .energy_token_stats__bnb 
                img(src="../img/gex.png" alt="energy-token-bnb")
                div
                    p.big 0.0019283 BNB
                    p.small $ 60.000
            .energy_token_stats__high 
                p.small 24H High
                p.big 0.0021394
            .energy_token_stats__low
                p.small 24H Low
                p.big 0.0018293
            .energy_token_stats__volume
                p.small 24H Volume (BNB)
                p.big 4.582,3456
                    span.small (-%23.3) 
        .energy_token_action_graph 
            .energy_token_action_graph__action
                .energy_token_action_graph__action_type
                    .active_block
                    .type.active Buy
                    .type Sell
                .energy_token_action_graph__action_block
                    .pocket
                        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.45 0C2.535 0 1.65748 0.365977 1.01048 1.01742C0.363481 1.66886 0 2.55241 0 3.47368V18.5263C0 19.4476 0.363481 20.3311 1.01048 20.9826C1.65748 21.634 2.535 22 3.45 22H18.4C19.315 22 20.1925 21.634 20.8395 20.9826C21.4865 20.3311 21.85 19.4476 21.85 18.5263V16.4768C22.2109 16.1518 22.4998 15.7539 22.698 15.309C22.8961 14.8642 22.999 14.3823 23 13.8947V8.10526C22.999 7.61771 22.8961 7.13583 22.698 6.69096C22.4998 6.24609 22.2109 5.84819 21.85 5.52316V3.47368C21.85 2.55241 21.4865 1.66886 20.8395 1.01742C20.1925 0.365977 19.315 0 18.4 0H3.45ZM3.45 1.15789H18.4C19.01 1.15789 19.595 1.40188 20.0263 1.83617C20.4577 2.27047 20.7 2.8595 20.7 3.47368V4.83305C20.3308 4.70061 19.9419 4.63248 19.55 4.63158H12.65C11.735 4.63158 10.8575 4.99756 10.2105 5.649C9.56348 6.30044 9.2 7.18398 9.2 8.10526V13.8947C9.2 14.816 9.56348 15.6996 10.2105 16.351C10.8575 17.0024 11.735 17.3684 12.65 17.3684H19.55C19.9419 17.3675 20.3308 17.2994 20.7 17.1669V18.5263C20.7 19.1405 20.4577 19.7295 20.0263 20.1638C19.595 20.5981 19.01 20.8421 18.4 20.8421H3.45C2.84 20.8421 2.25499 20.5981 1.82365 20.1638C1.39232 19.7295 1.15 19.1405 1.15 18.5263V3.47368C1.15 2.8595 1.39232 2.27047 1.82365 1.83617C2.25499 1.40188 2.84 1.15789 3.45 1.15789ZM12.65 5.78947H19.55C20.16 5.78947 20.745 6.03346 21.1763 6.46775C21.6077 6.90205 21.85 7.49108 21.85 8.10526V13.8947C21.85 14.5089 21.6077 15.098 21.1763 15.5322C20.745 15.9665 20.16 16.2105 19.55 16.2105H12.65C12.04 16.2105 11.455 15.9665 11.0237 15.5322C10.5923 15.098 10.35 14.5089 10.35 13.8947V8.10526C10.35 7.49108 10.5923 6.90205 11.0237 6.46775C11.455 6.03346 12.04 5.78947 12.65 5.78947ZM15.525 8.10526C14.7625 8.10526 14.0312 8.41024 13.4921 8.95311C12.9529 9.49598 12.65 10.2323 12.65 11C12.65 11.7677 12.9529 12.504 13.4921 13.0469C14.0312 13.5898 14.7625 13.8947 15.525 13.8947C16.2875 13.8947 17.0188 13.5898 17.5579 13.0469C18.0971 12.504 18.4 11.7677 18.4 11C18.4 10.2323 18.0971 9.49598 17.5579 8.95311C17.0188 8.41024 16.2875 8.10526 15.525 8.10526ZM15.525 9.26316C15.7515 9.26316 15.9758 9.30808 16.1851 9.39537C16.3944 9.48265 16.5846 9.61059 16.7448 9.77187C16.9049 9.93315 17.032 10.1246 17.1187 10.3353C17.2054 10.5461 17.25 10.7719 17.25 11C17.25 11.2281 17.2054 11.4539 17.1187 11.6647C17.032 11.8754 16.9049 12.0669 16.7448 12.2281C16.5846 12.3894 16.3944 12.5173 16.1851 12.6046C15.9758 12.6919 15.7515 12.7368 15.525 12.7368C15.0675 12.7368 14.6287 12.5539 14.3052 12.2281C13.9817 11.9024 13.8 11.4606 13.8 11C13.8 10.5394 13.9817 10.0976 14.3052 9.77187C14.6287 9.44615 15.0675 9.26316 15.525 9.26316Z" fill="#00A3FF"/>
                        </svg>
                        |28.3945
                    .action
                        p.title You pay
                        .count 
                            p.count__payed 
                                input(type="text" id="pay" value="0" maxlength="9" size="1")
                                span BNB
                            p.count__dollars
                                span
                                    |= $
                                | 33.992.33
                    .action
                        p.title You received
                        .count 
                            p.count__payed 39485854
                                span ENERGY
                    button.action_btn Buy Energy Token
                    .action__stats
                        .stat
                            .type Sell Price
                            hr
                            .count
                                span BNB
                                |= 526,31 Energy
                        .stat
                            .type Buy Price
                            hr
                            .count 
                                span 1 Energy
                                |= 0.0019 BNB
                        .stat
                            .type Transaction Fee
                            hr
                            .count 42.23 Energy
                        .stat
                            .type Price Impact
                            hr
                            .count -0.35%
            .energy_token_action_graph__graph 
                .date
                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 0.25H5.625C5.92337 0.25 6.20952 0.368526 6.4205 0.579505C6.63147 0.790483 6.75 1.07663 6.75 1.375V2.5H12.375V1.375C12.375 1.07663 12.4935 0.790483 12.7045 0.579505C12.9155 0.368526 13.2016 0.25 13.5 0.25H14.625C14.9234 0.25 15.2095 0.368526 15.4205 0.579505C15.6315 0.790483 15.75 1.07663 15.75 1.375V2.5C16.6451 2.5 17.5036 2.85558 18.1365 3.48851C18.7694 4.12145 19.125 4.97989 19.125 5.875V18.25C19.125 19.1451 18.7694 20.0036 18.1365 20.6365C17.5036 21.2694 16.6451 21.625 15.75 21.625H3.375C2.47989 21.625 1.62145 21.2694 0.988515 20.6365C0.355579 20.0036 0 19.1451 0 18.25V5.875C0 4.97989 0.355579 4.12145 0.988515 3.48851C1.62145 2.85558 2.47989 2.5 3.375 2.5V1.375C3.375 1.07663 3.49353 0.790483 3.7045 0.579505C3.91548 0.368526 4.20163 0.25 4.5 0.25ZM13.5 2.5H14.625V1.375H13.5V2.5ZM5.625 2.5V1.375H4.5V2.5H5.625ZM3.375 3.625C2.77826 3.625 2.20597 3.86205 1.78401 4.28401C1.36205 4.70597 1.125 5.27826 1.125 5.875V7H18V5.875C18 5.27826 17.7629 4.70597 17.341 4.28401C16.919 3.86205 16.3467 3.625 15.75 3.625H3.375ZM1.125 18.25C1.125 18.8467 1.36205 19.419 1.78401 19.841C2.20597 20.2629 2.77826 20.5 3.375 20.5H15.75C16.3467 20.5 16.919 20.2629 17.341 19.841C17.7629 19.419 18 18.8467 18 18.25V8.125H1.125V18.25ZM10.125 12.625H15.75V18.25H10.125V12.625ZM11.25 13.75V17.125H14.625V13.75H11.25Z" fill="#FFA114"/>
                    </svg>
                    |2021, 6 September

                canvas#myChart
        .energy_pool
            .energy_pool__title
                |Energy Pool
                hr
            .energy_pool__stats 
                .energy_pool__stats__token
                    img(src="../img/gex.png" alt="energy-token-bnb")
                    div
                        p.big 
                            span Energy Token
                            button.badge +
                                img(src="../img/foxy.png" alt="")
                        p.small (+45.4%)
                .energy_pool__stats__earned 
                    p.extra 0.000000
                    p.small Earned
                .energy_pool__stats__yearly
                    p.extra 694.23 %
                    p.small Yearly
                .energy_pool__stats__daily
                    p.extra 1.45 %
                    p.small Daily
                .energy_pool__stats__tvl
                    p.extra $1.293.495.123,34
                    p.small TVL
        .energy_info_blocks 
            .energy_info_blocks__info 
                .energy_info_blocks__info__block 
                    .title Energy Earned
                    .body 
                        p.extra 1.293.495.123,34
                        p.small $ 60.000,62 
                            span (+45.4%)
                    .footer 
                        button Compound
                        button Collect
                .energy_info_blocks__info__block 
                    .title Energy Staked
                    .body 
                        p.extra 1.293.495.123,34
                        p.small $ 60.000,62
                    .footer 
                        button Unstake
                        button Add To Stake
            .energy_info_blocks__reward 
                .energy_info_blocks__reward__block
                    .title
                        |Energy Staked Reward 
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 0C16.4478 0 19.7544 1.36964 22.1924 3.80761C24.6304 6.24558 26 9.55219 26 13C26 16.4478 24.6304 19.7544 22.1924 22.1924C19.7544 24.6304 16.4478 26 13 26C9.55219 26 6.24558 24.6304 3.80761 22.1924C1.36964 19.7544 0 16.4478 0 13C0 9.55219 1.36964 6.24558 3.80761 3.80761C6.24558 1.36964 9.55219 0 13 0ZM13 1.36842C9.91511 1.36842 6.95658 2.59389 4.77523 4.77523C2.59389 6.95658 1.36842 9.91511 1.36842 13C1.36842 16.0849 2.59389 19.0434 4.77523 21.2248C6.95658 23.4061 9.91511 24.6316 13 24.6316C16.0849 24.6316 19.0434 23.4061 21.2248 21.2248C23.4061 19.0434 24.6316 16.0849 24.6316 13C24.6316 9.91511 23.4061 6.95658 21.2248 4.77523C19.0434 2.59389 16.0849 1.36842 13 1.36842ZM12.3158 6.84211V9.57895H13.6842V6.84211H12.3158ZM12.3158 12.3158V19.1579H13.6842V12.3158H12.3158Z" fill="#FFA114"/>
                        </svg>
                    .body 
                        p 
                            |+0.84%
                            span - Pool Volume Factor
                        p 
                            |+0.84%
                            span - Amount of Token You Staked
                    .footer + 1.14%
        .energy_details 
            .energy_details__button.active Details
                <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.11125 15L-3.27835e-07 7.5L7.11125 -3.88485e-08L8 0.937335L1.7775 7.5L8 14.0627L7.11125 15Z" fill="#FFA114"/>
                </svg>
            .energy_details__info.active 
                .column 
                    .block 
                        p.title Yearly:
                        div 
                            p.text Energy APR:
                                span 694.23%
                            p.text Energy APY:
                                span 2.394,23%
                    .block
                        p.title Daily:
                        div 
                            p.text Energy Daily:
                                span 1.25%
                .block
                    p.title Pool info:
                    div 
                        p.text Total Energy in pool:
                            span 34.473.234,2313
                        p.text Energy TVL:
                            span 2.394,23%
                        p.text Energy Price:
                            span 0.00192834 BNB
                                span (-$1.2334)
                    p.text Energy Pool Volume Factor:
                        span 0.9345%
                .block
                    p.text The Base rate changes depending on the amount of token user staking
                    div 
                        p.text
                            span 0.1%
                            span.text - Daily for amounts from 100 to 10,000
                        p.text
                            span 0.2%
                            span.text - Per day for amounts from 10,000 to 50,000
                        p.text
                            span 0.3%
                            span.text - Per day for amounts from 50,000 to 100,000
                        p.text
                            span 0.4%
                            span.text - Daily for amounts from 100.000 to 250.000
                        p.text
                            span 0.5%
                            span.text - Daily for amounts from 250.000+
