$screen-width: 1920;
$screen-height: 1080;

@function px-to-vw($value-width) {
    @return $value-width * 100 / $screen-width+vw;
}

@function vh($value-height) {
    @return $value-height * 100 / $screen-height+vh;
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    color: #fff;
    user-select: none;
}

.stack-graph-body {
    height: px-to-vw(350);
    width: px-to-vw(330);
    padding: px-to-vw(30) px-to-vw(45);
    background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    top: px-to-vw(-20);
}

.stack-graph {
    display: flex;
    justify-self: center;
    width: px-to-vw(370);
    justify-content: center;
    background: linear-gradient(93.58deg, rgba(62, 66, 182, 0.5) -19.17%, rgba(32, 34, 105, 0.5) 95.81%);
    border-radius: 15px;
}

h1,
h2,
h3 {
    margin: 0;
    text-align: center;
}

h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    margin-bottom: px-to-vw(15);
}

h2,
h3 {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.3);
}

h3 {
    margin-bottom: px-to-vw(40);
}

.draws_container {
    display: flex;
    flex-direction: column;

}

.current-round-info {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    border: 1px solid #2C2E78;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px-to-vw(35) px-to-vw(40);


    .curren-pot {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .pot-tickets-container {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
}

.total-energy-img {
    width: px-to-vw(50);
    height: px-to-vw(56);
    margin-right: px-to-vw(20);
}

.pot-title {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.3);
}

.tickets-button {
    padding: px-to-vw(16) px-to-vw(44);
    border-radius: 15px;
    min-width: px-to-vw(185);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-top: px-to-vw(10);

    &:hover {
        cursor: pointer;
    }

    &:active {
        position: relative;
        top: 2px;
    }
}

.view-tickets {
    background: #00A3FF;
    margin-left: px-to-vw(15);
}

.buy-ticket {
    border: 1px solid #FFA114;
    color: #FFA114;
}

.collect-energy {
    width: px-to-vw(300);
    height: px-to-vw(90);
    margin: 0;
    margin-bottom: px-to-vw(-10);
    font-weight: 500;
    font-size: px-to-vw(20);
    line-height: 24px;
}

.total-energy-amount,
.tickets-amount {
    font-weight: 500;
    font-size: px-to-vw(45);
    line-height: 55px;
}


.total-energy-mount {
    div {
        display: flex;
        align-items: center;
        margin: px-to-vw(15) 0;

    }
}

.round-end-time-container {
    margin: 0 auto;
    top: px-to-vw(-170);
    left: px-to-vw(-5);
    position: relative;
    margin-bottom: px-to-vw(-150);

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-weight: 300;
            font-size: px-to-vw(18);
            line-height: 24px;
        }
    }
}

.total-amount {
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;

    span {

        color: #00A3FF;
    }
}

.pools_container .pools_card_list .pool_card .card-pool-stack {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

}



.last_rounds_container {
    .pool_card.total-round-card {
        background: none;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(25px);
        border-radius: 15px;
    }

    .card-title {
        background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
        box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
        border-radius: 15px 15px 0px 0px;

        span {
            margin: auto;
        }
    }

    .total-lottery-number {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
        padding: 0 px-to-vw(40);
        background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%);

        .lottery-number--digit {
            background: rgba(255, 255, 255, 0.03);
            backdrop-filter: blur(45px);
            border-radius: 15px;
            height: px-to-vw(70);
            width: px-to-vw(70);
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-weight: 500;
                font-size: 30px;
                line-height: 37px;
                color: #FFA114;
            }
        }
    }
}

.total-energy-mount {
    margin: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        margin: 0;
        margin-bottom: px-to-vw(15);
    }
}

.pool_card {
    border: 1px solid #2C2E78;

}

.total-coincidence {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: px-to-vw(25) 0;

    .coincidence-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:nth-of-type(2) {
            margin: 0 px-to-vw(40);
        }

        .pot-title {
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
            /* or 133% */
            width: px-to-vw(82);
            text-align: center;
            color: #FFFFFF;
            opacity: 0.3;
        }

        .number-of-coincidences {
            font-weight: normal;
            font-size: 25px;
            line-height: 30px;

            color: #00A3FF;
        }
    }
}

.line-article-container .article_text {
    white-space: nowrap;
}

@media (max-width: 1650px) {
    .round-end-time-container {
        margin-left: px-to-vw(400);
    }

    .pools_container .pools_card_list {
        flex-wrap: unset;
    }
}

@media (max-width: 1366px) {
    .round-end-time-container {
        top: unset;
        left: unset;
        margin: unset;
    }

    .tickets-actions {
        display: flex;
        position: absolute;
        top: px-to-vw(270);

        left: 85px;
        margin: 0 auto;


    }

    .current-round-info {
        &>div {
            width: 50%;
        }

        align-items: flex-start;

        .pot-title {
            text-align: center;
        }

        .curren-pot {
            * {
                text-align: center;
            }

            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .current-round-info .pot-tickets-container {
        align-items: center;
        display: flex;
    }

    .current_round_container>div:last-child {
        display: flex;
        align-items: center;

        justify-content: space-around;
    }


    .pools_container .pools_card_list .pool_card {
        width: px-to-vw(400);
    }

    .total-coincidence .coincidence-item .pot-title {
        font-size: px-to-vw(17);
        line-height: 125%;
    }
}


@media (max-width: 1080px) {
    .pot-tickets-container {
        .pot-title {
            font-size: 15px;
        }
    }



    .pools_container {
        margin-top: 6.302083vw;
    }

    а .pools_container {
        margin-top: px-to-vw(100);
    }

    .round-end-time-container div span {
        font-size: px-to-vw(24);
    }

    .total-amount {
        font-size: px-to-vw(40);
    }

    .total-energy-mount div {
        margin-bottom: 0;
    }

    .current-round-info .curren-pot {
        .total-energy-mount {
            margin: unset;
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tickets-actions {

        top: px-to-vw(255);
        margin: 0 auto;
    }

    .last_rounds_container .total-lottery-number .lottery-number--digit span {
        font-size: px-to-vw(40);
    }
}

@media (max-width: 935px) {
    .tickets-actions {
        top: px-to-vw(280);
    }


}

@media (max-width: 880px) {
    h1 {
        font-size: px-to-vw(60);
    }



    h2,
    h3 {
        font-size: px-to-vw(30);
    }

    .tickets-actions {
        top: 80px;
        flex-direction: column;
        left: unset;

        .tickets-button {
            padding: 1.833333vw 4.291667vw;
            margin-top: 0.920833vw;
            width: 100%;
            margin-left: 0;
        }
    }

    .current_round_container>div:last-child {
        flex-direction: column;
    }

    .current-round-info {
        width: 80%;
    }

    .round-end-time-container {
        margin-top: px-to-vw(150);
    }

    .current-round-info .pot-title {
        font-size: px-to-vw(30);
    }

    .tickets-amount {
        line-height: 35px;
    }

    .stack-graph {
        width: 220px;
    }

    .pools_container .pools_card_list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .pools_container .pools_card_list .pool_card {
        width: px-to-vw(500);
    }

    .stack-graph-body {
        height: 220px;
        width: 200px;

        .tickets-amount {
            font-size: 35px;
        }

        .collect-energy {
            width: 160px;
            height: 50px;
            margin: 0;
            margin-bottom: 10px;
            font-weight: 400;
            text-align: center;
            font-size: 12px;
            white-space: nowrap;
            line-height: 24px;
        }

        .round-number {
            font-size: 20px;
        }
    }

    .total-coincidence {
        padding: px-to-vw(30) px-to-vw(40);
        justify-content: space-around;

        .coincidence-item {
            margin: 0;

            .pot-title {
                text-align: center;
                font-size: px-to-vw(23);
                width: initial;
            }
        }
    }

    .tickets-actions {
        flex-direction: column-reverse;
    }
}

@media (max-width: 785px) {
    .line-article-container .article_text {
        font-size: 25px;
    }

    h2,
    h3 {
        font-size: 1.74375vw;
    }

    h1 {
        font-size: px-to-vw(85);
    }

    .round-end-time-container {
        margin-top: 11.8125vw;
    }

    .total-energy-amount,
    .tickets-amount {
        font-size: px-to-vw(50);
    }

    .current-round-info .curren-pot .total-energy-amount {
        font-size: 3.604167vw;
    }

    .current-round-info .pot-title {
        font-size: 11px;
        text-align-last: right;
    }
}

@media (max-width: 690px) {

    .current-round-info .curren-pot {
        margin-left: px-to-vw(40);
        align-items: flex-start;

        & .total-energy-mount {
            align-items: flex-start;
        }
    }

    .pools_container .pools_card_list .pool_card {
        width: 250px;
        max-width: unset;
    }

    .stack-graph-body {
        padding: 3.5625vw 2.34375vw;
    }

    .tickets-amount {
        font-size: 4vw;

    }

    .last_rounds_container .total-lottery-number .lottery-number--digit span {
        font-size: 26px;
    }



    .total-coincidence .coincidence-item .pot-title {
        font-size: 10px;
    }



    .round-end-time-container div span {
        font-size: px-to-vw(40);
    }

    .pot-title {
        line-height: 125%;
        white-space: pre-wrap;
    }

    .total-energy-amount,
    .tickets-amount {
        font-size: 40px;
    }

    .pools_container .pools_card_list .pool_card {
        margin-bottom: 25px;

    }

    .pools_container .pools_card_list .pool_card .card-pool-earned {
        padding: 6px 7px;
    }

    .total-amount {
        font-size: 3.083333vw;
    }

    .total-energy-img {
        width: 40px;
        height: 41px;
        margin-right: 1.0416666667vw;
    }

    .pool_card {
        .total-amount {
            font-size: 24px;
        }
    }

    h2,
    h3 {
        font-size: 13px;
    }

    .current-round-info {
        .tickets-amount {
            margin-top: 10px;
            font-size: 30px;
        }
    }

    .pools_container .pools_card_list {
        flex-direction: column;
    }

    .pools_container .pools_card_list .pool_card .card-pool-stack {
        padding: 10px 5px;
    }

    .last_rounds_container .total-lottery-number .lottery-number--digit {

        height: 45px;
        width: 45px;
    }

    .current-round-info {
        padding: 15px 7px;
    }

    h1 {
        font-size: 35px;
    }
}

@media (max-width: 580px) {
    .current-round-info .pot-title {
        font-size: 10px;
        text-align: right;
    }

    .current-round-info .curren-pot .total-energy-amount {
        font-size: 25px;
    }

    .current-round-info {
        width: 90%;
    }

    .current-round-info {
        padding: 15px 16px;
    }

    .current-round-info .pot-tickets-container {
        align-items: unset;
    }

    .current-round-info .tickets-amount {
        text-align: right;
    }


    .round-end-time-container {
        margin-top: 25.8125vw;
    }

    .tickets-actions {
        right: 17px;

        .tickets-button {
            padding: 3.833333vw 10.291667vw;
        }
    }

    .current-round-info {
        height: 135px;
    }

    .tickets-actions {
        top: 75px;
    }

    .tickets-button {
        font-weight: 300;
    }

    .total-amount {
        font-size: 17px;
    }

    .tickets-actions .tickets-button:last-of-type {
        margin-bottom: 10px;
    }

    .current-round-info .pot-title {
        line-height: 15px;
    }
}

@media (max-width: 480px) {
    .tickets-actions .tickets-button {
        padding: 3.833333vw 9.291667vw;
    }

    .current-round-info .tickets-amount {
        margin-top: 7px;
        font-size: 30px;
    }

    .current-round-info {
        width: 100%;
    }

    .pools_container .pools_card_list .pool_card {
        width: 230px;
    }
}

@media (max-width: 360px) {
    /*
    .tickets-actions {
        right: 73px;
        top: 115px;
    }
    */

    .tickets-actions .tickets-button {
        padding: 3.833333vw 6.291667vw;
    }

    .round-end-time-container {
        margin-top: 30.8125vw;
    }
}

@media (max-width: 345px) {
    .tickets-actions {
        right: px-to-vw(220);
        top: 115px;
    }

    .tickets-actions .tickets-button {
        padding: 3.833333vw 17.291667vw;
    }

}

.popup-input-cont {
    input {
        background: transparent;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0;
            /* <-- Apparently some margin are still there even though it's hidden */
        }

        margin-bottom: 10px;

        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;

        color: #FFFFFF;
        outline: none;
        text-decoration: none;
        border: none;

        &:hover,
        &:focus,
        &:active,
        &:checked {
            outline: none;
            text-decoration: none;
        }

        padding-bottom: 10px;
        border-bottom: 1px solid #00A3FF;
    }
}


.view-ticket-popup {
    box-shadow: 0px 0px 1000px black;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: calc(50% - 452px);
    display: flex;
    opacity: 0 !important;
    transition: 0.2s ease-in;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    width: 904px;

    .view-popup-title {
        padding: 28px 60px;
        display: flex;
        align-items: center;

        .view-popup-hr {
            height: 1px;
            width: 100%;
            border: none;
            background: linear-gradient(270deg, rgba(19, 16, 69, 0) 2.15%, #FFA114 47.35%, rgba(19, 16, 69, 0) 97.52%);
        }

        span {
            font-weight: 300;
            font-size: 35px;
            line-height: 43px;
            white-space: nowrap;
        }

        background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
        box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
    }

    .view-popup-body {
        backdrop-filter: blur(25px);
        padding: 24px 0;
        padding-bottom: 0;

        tr.view-popup-tr {
            td {
                padding: 26px 0;
                text-align: center;

                .round-result {
                    color: #00A3FF;

                }

                &:not(:last-of-type) {
                    width: 150px;
                }

                &:last-of-type {
                    width: 200px;
                }
            }

            &:not(:first-of-type) {

                td {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;

                    &:first-of-type {
                        color: #00A3FF;
                    }

                    &:nth-of-type(4) {
                        color: rgba(255, 255, 255, 0.3);
                    }
                }
            }

            &:first-of-type {
                td {
                    padding: 0;

                }
            }

            &:last-of-type {

                td {
                    border: none;
                }
            }
        }
    }

    .title-tr {
        td {
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.2);
        }
    }

}

.view-ticket-popup-active {
    top: 45px;
    z-index: 1000000;
    opacity: 1 !important;
    transition: 0.2s ease-out;
}

.buy-ticket-popup {
    box-shadow: 0px 0px 1000px black;
    position: fixed;
    z-index: -1;
    top: 0px;
    border-radius: 15px;
    left: calc(50% - 480px);
    display: flex;
    opacity: 0 !important;
    transition: 0.2s ease-in;

    .popup-body {
        width: 960px;
        display: flex;
        flex-direction: column;
    }

    .add-button {
        display: flex;
        flex-direction: row;
    }

    .add-account {
        display: flex;
        align-items: center;

        svg {
            margin: 0 10px;
        }

        span:last-of-type {
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 30px;
        }
    }

    .title {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;

        color: #FFFFFF;

        opacity: 0.3;
    }

    .add-button .set-max {
        width: 170px;
        margin: 0;
        margin-top: 10px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #fff;
        position: relative;

        &:active {
            top: 2px;
        }

        &.orange:hover::before {
            content: "";
            background: #FFA114;
            filter: blur(35px);
            border-radius: 15px;
            width: 100%;
            opacity: 0.1;
            height: 100%;
            position: absolute;
            left: 0;
            transition: 0.2s ease;
            top: 0;
        }
    }

    .set-50 {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        width: 120px;
        margin-top: 10px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #fff;
        position: relative;

        &:active {
            top: 2px;
        }
    }
}

.buy-ticket-popup-active {
    top: 45px;
    z-index: 1000000;
    opacity: 1 !important;
    transition: 0.2s ease-out;
}

.popup-title {
    padding: 35px 60px;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 43px;
    background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;
}

.popup-buy-body {
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    padding: 40px 60px;
    justify-content: space-between;
    position: relative;

    .popup-input-cont {
        display: flex;
        flex-direction: column;
    }

    .popup-add-cont {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }
}

.popup-info {
    background: linear-gradient(93.47deg, #3C3F98 1.9%, #191A51 95.83%);
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
    display: flex;
    padding: 22px 60px;
    justify-content: space-between;

    .info-energy-lost {
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(45px);

        /* Note: backdrop-filter has minimal browser support */
        span {
            font-weight: 500;
            font-size: 30px;
            line-height: 37px;

            /* identical to box height */
            &:first-of-type {
                color: #FFA114;
            }

            &:last-of-type {
                margin-right: 10px;
            }
        }

        border-radius: 15px;
        padding: 12px 24px;
    }

    .info-tooltip {
        display: flex;
        flex-direction: column;

        p {
            font-weight: 300;
            font-size: 15px;
            line-height: 25px;
        }
    }


}



.confirm-btn {
    width: 270px;
    height: auto;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    background: #00A3FF;
}

@media(max-width: 1010px) {

    .buy-ticket-popup {
        width: 80%;
        left: calc(50% - 40%);

        .popup-body {
            width: 100%;

        }
    }

    .popup-title {
        font-size: 25px;
    }

    .popup-input-cont input {
        width: 50%;
    }

    .confirm-btn {
        width: 150px;
    }

    .popup-info .info-tooltip p {
        font-size: 10px;
    }

    .buy-ticket-popup .add-button .set-max {
        width: px-to-vw(340);
    }

    .buy-ticket-popup .set-50 {
        width: px-to-vw(200);
    }
}

@media(max-width: 805px) {
    .popup-info .info-energy-lost {
        padding: 14px;
        height: fit-content;
        align-self: center;
    }

    .popup-input-cont input {
        width: 70%;
    }

    .confirm-btn {
        width: 100px;
        font-size: 15px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .popup-info {
        padding: 22px 30px;
    }

    .popup-buy-body {
        padding: 40px 30px;
    }

    .popup-title {
        padding: 35px 30px;
    }

    .buy-ticket-popup .title {
        white-space: nowrap;
    }
}

@media(max-width: 660px) {
    .popup-info .info-tooltip {
        flex-direction: unset;

        svg {
            align-self: center;
        }

        margin-bottom: 15px;
    }

    .popup-info .info-tooltip p {
        font-size: 14px;
        margin-left: 10px;
    }

    .popup-info {
        flex-direction: column;
    }

    .popup-info .info-energy-lost {
        width: 100%;
        justify-content: center;
    }

    .confirm-btn {
        width: 100%;
        margin-top: 20px;
        padding: 20px 0px;
    }
}

@media(max-width: 600px) {
    .popup-buy-body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .popup-buy-body .popup-input-cont {
        width: 100%;
        align-items: center;
    }

    .popup-buy-body .popup-add-cont {
        margin-top: 20px;
        width: 100%;
        align-items: center;

    }

    .buy-ticket-popup .add-button {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .buy-ticket-popup .add-button .set-max {
        padding: 10px 20px;
        width: 170px;
    }

    .buy-ticket-popup .set-50 {
        padding: 10px 15px;
        width: 120px;
    }

    .popup-input-cont input {
        width: 100%;
    }
}

@media(max-width: 930px) {
    .view-ticket-popup {
        width: 80%;
        left: calc(50% - 40%);
    }

    .view-ticket-popup .view-popup-body tr.view-popup-tr:not(:first-of-type) td {
        font-size: px-to-vw(40);
    }
}

@media(max-width: 605px) {
    .view-ticket-popup .view-popup-title span {
        font-size: 25px;
    }

    .view-ticket-popup .view-popup-title {
        padding: 18px 30px;
    }

    .view-ticket-popup .view-popup-body tr.view-popup-tr:not(:first-of-type) td {
        font-size: 15px;
    }
}

@media(max-width: 382px) {
    .view-ticket-popup .title-tr td {
        font-size: 13px;
    }
}

@media(max-width: 345px) {
    .view-ticket-popup {
        width: 90%;
        left: calc(50% - 45%);

    }
}