mixin _lottery
    section.page_main_content
        .draws_container
            .current_round_container
                .current-title
                    h1 The Energy Lottery
                    h2 Spend ENERGY to buy tickets, contributing to the lorrery pot
                    h3 Win prizes if 2,3, or 4 of your tickets numbers match the winning numbers and their exact order!
                .current-round-info
                    .curren-pot
                        span.pot-title Total pot
                        .total-energy-mount
                            div
                                img.total-energy-img(src="../img/gex.png", alt="energy-token-icon"
                                )
                                span.total-energy-amount 51,32
                            p.total-amount
                                span $ 
                                | 132.253,523
                    .pot-tickets-container
                        span.pot-title Your tickets for this round
                        span.tickets-amount 16
                        .tickets-actions
                            button.tickets-button.buy-ticket Buy Tickets
                            button.tickets-button.view-tickets View Tickets
                .stack-graph.round-end-time-container
                    div.stack-graph-body
                        span.round-number.pot-title Round #25
                        div
                            p.tickets-amount 21h 49m
                            span Until Lottery Draw
                        button.collect-energy.tickets-button.view-tickets Collect 151,32 Energy

            .pools_container.last_rounds_container
                .line-article-container
                    span.article_text Recent Draws
                    hr.title_hr(style="width:80%; max-width:unset;margin:0;margin-top:7px;")
                .pools_card_list
                    .pool_card.total-round-card
                        .card-title
                            span.title-text.pot-title Round #24
                        .card-pool-stack.total-pot
                            .total-energy-mount
                                div
                                    img.total-energy-img(src="../img/gex.png", alt="energy-token-icon"
                                    )
                                    span.total-energy-amount 51,32
                                p.total-amount
                                    span $ 
                                    | 132.253,523
                        .card-pool-earned.total-lottery-number
                            .lottery-number--digit
                                span 5
                            .lottery-number--digit
                                span 2
                            .lottery-number--digit
                                span 1
                            .lottery-number--digit
                                span 8
                        .total-coincidence
                            .coincidence-item 
                                span.pot-title Tickets Matching 4 numbers
                                span.number-of-coincidences 0
                            .coincidence-item 
                                span.pot-title Tickets Matching 3 numbers
                                span.number-of-coincidences 0
                            .coincidence-item 
                                span.pot-title Tickets Matching 2 numbers
                                span.number-of-coincidences 0
                    .pool_card.total-round-card
                        .card-title
                            span.title-text.pot-title Round #24
                        .card-pool-stack.total-pot
                            .total-energy-mount
                                div
                                    img.total-energy-img(src="../img/gex.png", alt="energy-token-icon"
                                    )
                                    span.total-energy-amount 51,32
                                p.total-amount
                                    span $ 
                                    | 132.253,523
                        .card-pool-earned.total-lottery-number
                            .lottery-number--digit
                                span 5
                            .lottery-number--digit
                                span 2
                            .lottery-number--digit
                                span 1
                            .lottery-number--digit
                                span 8
                        .total-coincidence
                            .coincidence-item 
                                span.pot-title Tickets Matching 4 numbers
                                span.number-of-coincidences 0
                            .coincidence-item 
                                span.pot-title Tickets Matching 3 numbers
                                span.number-of-coincidences 0
                            .coincidence-item 
                                span.pot-title Tickets Matching 2 numbers
                                span.number-of-coincidences 0
                    .pool_card.total-round-card
                        .card-title
                            span.title-text.pot-title Round #24
                        .card-pool-stack.total-pot
                            .total-energy-mount
                                div
                                    img.total-energy-img(src="../img/gex.png", alt="energy-token-icon"
                                    )
                                    span.total-energy-amount 51,32
                                p.total-amount
                                    span $ 
                                    | 132.253,523
                        .card-pool-earned.total-lottery-number
                            .lottery-number--digit
                                span 5
                            .lottery-number--digit
                                span 2
                            .lottery-number--digit
                                span 1
                            .lottery-number--digit
                                span 8
                        .total-coincidence
                            .coincidence-item 
                                span.pot-title Tickets Matching 4 numbers
                                span.number-of-coincidences 0
                            .coincidence-item 
                                span.pot-title Tickets Matching 3 numbers
                                span.number-of-coincidences 0
                            .coincidence-item 
                                span.pot-title Tickets Matching 2 numbers
                                span.number-of-coincidences 0
                    