$screen-width: 1920;

@function px-to-vw($value) {
  @return $value * 100 / $screen-width+vw;
}

.refferal-stat-info_container {
  display: flex;
  flex-direction: column;
}

.ref-title-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin-bottom: px-to-vw(10);
    font-weight: 300;
    font-size: 35px;
    line-height: 43px;
  }

  h1,
  h2 {
    font-weight: 300;
    text-align: left;
  }

  margin-bottom: px-to-vw(20);
}

.title-ref-link-cont {
  position: relative;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(25px);
  border: 1px solid #2a2c74;
  border-radius: 15px;
  display: flex;

  span {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin: auto px-to-vw(25);
  }

  div:nth-of-type(2) {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    padding: px-to-vw(30);
    border-left: 1px solid rgba(255, 255, 255, 0.05);

    .ref-link {
      font-weight: 500;

      font-size: 15px;
      line-height: 18px;

      color: #00a3ff;

      &:hover {
        cursor: pointer;
        transition: 0.2s ease;
        text-decoration: underline;
      }
    }
  }

  .title-copy-button {
    background: linear-gradient(25.69deg, #1a1c52 7.14%, #292b76 95.83%);
    border-radius: 0px 15px 15px 0px;
    padding: 0 px-to-vw(16);

    div {
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(25px);
      width: px-to-vw(56);
      height: px-to-vw(56);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      transition: 0.1s ease;
    }

    &:active .svg-btn-cont {
      border-radius: 50%;
    }
  }
}

.copy-msg {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(25px);
  border: 1px solid #2a2c74;
  border-radius: px-to-vw(10);
  position: absolute;
  z-index: 100;
  padding: px-to-vw(5) px-to-vw(10);
  top: px-to-vw(-20);
  margin-left: px-to-vw(320);
  opacity: 0;
  transition: 0.2s ease;

  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: #00a3ff;
  }
}


.active-copy-msg {
  opacity: 1;
}

.read-more-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: px-to-vw(25);

  span {
    font-weight: 500;
    white-space: nowrap;
    font-size: 15px;
    color: #00a3ff;
    line-height: 17px;
    margin-right: px-to-vw(20);
  }

  hr {
    width: 100%;
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.05);
  }
}

.short-info-block {
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  margin-right: px-to-vw(60);
  min-width: px-to-vw(345);
  width: px-to-vw(345);
  background: linear-gradient(93.58deg,
      rgba(62, 66, 182, 0.5) -19.17%,
      rgba(32, 34, 105, 0.5) 95.81%);
  display: flex;
  justify-content: center;
  margin-top: px-to-vw(30);
  align-self: flex-start;

  .cont {
    position: relative;
    top: px-to-vw(-20);
    background: linear-gradient(93.58deg, #3c3f98 -19.17%, #191a51 95.81%);
    width: 90%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-top: px-to-vw(20);
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.35);
  }

  .ref-amount-cont {
    display: flex;
    flex-direction: column;
    padding: 0 px-to-vw(27);

    .ref-title {
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.3);
    }

    .ref-amount {
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      margin-bottom: px-to-vw(20);
    }

    p {
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      color: #00a3ff;

      span {
        color: #fff;
        margin-left: px-to-vw(5);
      }
    }

    &:nth-of-type(2) {
      background: linear-gradient(94.9deg, #292b76 0.81%, #1a1c52 95.55%);
      padding-top: px-to-vw(20);
      padding-bottom: px-to-vw(20);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      .earned-amount {
        margin-top: -5px;
      }

      .show-details {
        font-weight: 500;
        font-size: 15px;
        line-height: 17px;
        color: #00a3ff;
      }
    }

    &:last-of-type {
      padding-top: px-to-vw(20);
    }
  }

  .withdraw-button {
    background: #00a3ff;
    border-radius: 15px;
    margin: px-to-vw(20) px-to-vw(24);
    padding: px-to-vw(27) 0;
    margin-bottom: px-to-vw(30);
  }
}

.refs-level-cont {
  display: flex;
  flex-direction: column;

  .lvl-card-list {
    display: flex;
    align-items: center;
  }
}

.ref-stat-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lvl-card-list {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  justify-content: space-between;
  border: 1px solid #242567;
  display: flex;

  &::before {
    position: absolute;
    z-index: -1000;
    content: "";
    align-self: center;
    width: 100%;
    background: linear-gradient(94.9deg, #292b76 0.81%, #1a1c52 95.55%);
  }

  .level-card {
    min-width: px-to-vw(180);

    &:not(:first-of-type) {
      border-left: 1px solid rgba(255, 255, 255, 0.05);
    }

    .lvl-earn {
      padding: px-to-vw(15) px-to-vw(24);
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: #00a3ff;

        span {
          margin-left: px-to-vw(5);
          color: #fff;
        }
      }
    }

    .lvl-title {
      padding: px-to-vw(20) px-to-vw(24);
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      .pot-title {
        font-size: px-to-vw(18);
      }
    }

    .lvl-percent {
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.03);
      backdrop-filter: blur(25px);
      border-radius: 15px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      padding: px-to-vw(8) px-to-vw(8);
      color: #00a3ff;
    }
  }

  margin-bottom: px-to-vw(30);
}

.lvl-ref-mount {
  padding: px-to-vw(10) px-to-vw(24);
  display: flex;
  flex-direction: column;

  span:first-of-type {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffa114;
  }
}

.lvl-conditions {
  display: flex;
  align-items: flex-start;
  margin-bottom: px-to-vw(25);

  .first-lvl,
  .sec-trd-lvl,
  .fth-fs-lvl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
      text-align: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;

      span {
        color: #ffa114;
      }
    }

    &>span {
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
      color: #00a3ff;
    }
  }

  .sec-trd-lvl,
  .fth-fs-lvl {
    img {
      margin-top: px-to-vw(20);
    }
  }

  .sec-trd-lvl {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  .col_1,
  .col_2 {
    display: flex;
    align-items: center;
  }
}

.lvl-cond-text {
  p {
    &:not(:first-of-type) {
      margin-top: px-to-vw(20);
    }

    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.3);
  }
}

h4 {
  font-weight: 300;
  font-size: 35px;
  line-height: 43px;
}

.stack-cash.av-rew-title {
  display: flex;
  align-items: center;

  .title-hr_half {
    height: 1px;
    width: 40%;
    border: none;
    margin: 0;
    margin-top: 5px;
    margin-left: px-to-vw(40);
    background: linear-gradient(270deg,
        rgba(19, 16, 69, 0) 2.15%,
        #ffa114 91.53%);
  }
}

.available-rewards_container {
  display: flex;
  flex-direction: column;

  .stack-cash.av-rew-title {
    margin: px-to-vw(50) 0;
  }

  .rewards-list {
    display: flex;
    flex-wrap: wrap;

    .rew-card {
      margin-bottom: px-to-vw(15);

      &:not(:last-of-type) {
        margin-right: px-to-vw(15);
      }

      transition: 0.2s ease;
      background: rgba(255, 255, 255, 0.02);
      backdrop-filter: blur(25px);
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      &:hover {
        background: linear-gradient(93.58deg, #3c3f98 -19.17%, #191a51 95.81%);
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);

        .info-ref-amount {
          background: linear-gradient(93.58deg,
              #3c3f98 -19.17%,
              #191a51 95.81%);
          box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
        }
      }

      .rew-card-info {
        display: flex;
        align-items: center;

        .info-token-amount {
          display: flex;
          flex-direction: column;
          padding-top: px-to-vw(13);
          padding-left: px-to-vw(20);
          padding-right: px-to-vw(23);
          border-right: 1px solid rgba(255, 255, 255, 0.1);

          span:first-of-type {
            font-weight: 500;
            font-size: 30px;
            line-height: 37px;
          }
        }
      }

      .pot-title {
        margin-bottom: px-to-vw(10);
      }

      .info-ref-amount {
        padding: 0;
        padding-top: px-to-vw(13);
        padding-left: px-to-vw(23);
        padding-right: px-to-vw(24);

        span:first-of-type {
          font-weight: 500;
          font-size: 30px;
          line-height: 37px;
          text-align: center;
        }
      }

      .pot-title {
        font-size: 15px;
      }

      .withdraw-button-cont {
        padding: px-to-vw(17) px-to-vw(20);
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        button {
          padding: px-to-vw(20) px-to-vw(56);
          border: 1px solid rgba(255, 255, 255, 0.1);
          box-sizing: border-box;
          border-radius: 15px;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          transition: 0.2s ease;
          width: 100%;

          &:hover {
            border-color: #ffa114;
            cursor: pointer;
          }

          &:active {
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }
}

.rewards-stat {
  margin-top: px-to-vw(80);
  margin-bottom: px-to-vw(60);
  width: px-to-vw(550);

  .stack-title.rewards-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px-to-vw(30) px-to-vw(45);
    background: linear-gradient(93.58deg, #3c3f98 -19.17%, #191a51 95.81%);
    box-shadow: 0 px-to-vw(4) px-to-vw(45) rgba(0, 0, 0, 0.25);
    border-radius: px-to-vw(15) px-to-vw(15) 0 0;
    gap: px-to-vw(16);

    span {
      font-weight: 300;
      font-size: px-to-vw(35);
      line-height: px-to-vw(43);
    }

    hr {
      width: auto;
      flex-grow: 1;
    }
  }

  .tokens-item-container {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(px-to-vw(25));
    border-radius: 0 0 px-to-vw(15) px-to-vw(15);
    border: px-to-vw(1) solid;
    border-color: #282a6f;
    border-top: 0;

    .cont-col {
      border-bottom: px-to-vw(1) solid rgba(255, 255, 255, 0.1);

      &:last-of-type {
        border: 0;
      }

      .rew-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: px-to-vw(25) px-to-vw(50);

        >span {
          font-size: px-to-vw(35);
          line-height: 57%;
        }

        .rew-info-item {
          display: flex;
          flex-direction: column;
          gap: px-to-vw(3);

          p {
            font-weight: 300;
            font-size: px-to-vw(15);
            line-height: 133%;
            color: rgba(255, 255, 255, 0.3);
            text-align: right;
          }

          span {
            font-weight: 500;
            font-size: px-to-vw(20);
            line-height: px-to-vw(24);
            color: #00a3ff;
            margin-left: px-to-vw(14);
          }
        }
      }
    }
  }
}

.title-ref-link-cont {
  &>div:nth-of-type(2) {
    display: flex;
    justify-content: start;
    flex-direction: row;
    padding: 0;
    border: none;

    div {
      padding: 1.5625vw;
      border: none;
      border-left: 1px solid rgba(255, 255, 255, 0.05);

    }
  }
}

h4 {
  white-space: nowrap;
}

.available-rewards_container .rewards-list .rew-card .withdraw-button-cont button {
  padding: 18px 50px;
}

.refs-level-cont .lvl-card-list.lvl-modified {
  width: 280px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";

  &::before {
    display: none;
  }

  .level-card .lvl-title .pot-title {
    font-size: 1.9375vw;
  }

  .lvl-row {
    .lvl-earn {
      background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%);
    }

    .lvl-ref-mount,
    .lvl-title,
    .lvl-earn {
      padding: 1.520833vw 2.25vw;
    }

    &:last-of-type {
      .level-card {
        * {
          text-align: center;
        }
      }
    }

    &:not(:last-of-type) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas:
        ". .";

      &:nth-of-type(2) {
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      }

    }
  }
}

.rewards-stat {
  width: 310px;
}

.rewards-stat .stack-title.rewards-title {
  padding: 17px 25px;
}

.rewards-stat .tokens-item-container .cont-col .rew-item {
  padding: 15px 29px;
}

.rewards-stat .tokens-item-container .cont-col .rew-item>span {
  font-size: 20px;
  line-height: 125%;
}

.rewards-stat .tokens-item-container .cont-col .rew-item .rew-info-item span {
  font-size: 14px;
}

.rewards-stat .tokens-item-container .cont-col .rew-item .rew-info-item p {
  font-size: 12px;
}

.rewards-stat .stack-title.rewards-title span {
  font-size: 20px;
}

.lvl-conditions {
  & > div {
     padding-top: 10px;
  }
}

.refferal-stat-info_container {
  position: relative;
}

.rewards-stat .stack-title.rewards-title span {
  font-size: 17px;
}

.refs-level-cont .lvl-card-list {
  margin-bottom: 0;
}

.show-details {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.rewards-stat {
  box-shadow: 0px 0px 1000px rgba(0, 0, 0, 1);
  position: fixed;
  z-index: -1;
  top: 0px;
  left: calc(50% - 175px);
  opacity: 0 !important;
  transition: .2s ease-in;

}

.rewards-stat.active-rew-stat {
  top: 45px;
  z-index: 1000000;
  opacity: 1 !important;
  transition: .2s ease-out;
}

@media(max-width: 1500px) {
  .ref-stat-info {
    flex-direction: column;
  }

  .available-rewards_container .rewards-list {
    justify-content: space-evenly;
  }

  .available-rewards_container .stack-cash.av-rew-title {
    margin: 0;
  }

  .available-rewards_container .rewards-list .rew-card .info-ref-amount {
    padding: 0 18px;
    padding-top: 10px;

  }

  .available-rewards_container .rewards-list .rew-card {
    margin: 0;
    margin-bottom: 20px;
  }

  .available-rewards_container .rewards-list .rew-card .rew-card-info .info-token-amount {
    padding: 0 18px;
    padding-top: 10px;
  }

  .available-rewards_container .rewards-list .rew-card .withdraw-button-cont {
    padding: 18px 15px;
  }

  .short-info-block {
    align-self: center;
    width: 20.96875vw;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media(max-width: 1455px) {
  .ref-title-cont {
    flex-direction: column;

    .title-text {
      margin-bottom: 10px;

      h1,
      h2 {
        text-align: center;
      }
    }
  }
}

body {
  padding-bottom: 30px;
}

@media(max-width: 1235px) {
  h4 {
    white-space: pre-wrap;
    width: 450px;
  }

  .stack-cash.av-rew-title {
    position: relative;

    .title-hr_half {
      background: linear-gradient(270deg, rgba(19, 16, 69, 0) 2.15%, #FFA114 47.35%, rgba(19, 16, 69, 0) 97.52%);
      position: absolute;
      top: 110px;
      right: -50px;
      width: 90%;
    }
  }

  .short-info-block .ref-amount-cont:nth-of-type(2) .show-details,
  .short-info-block .ref-amount-cont .ref-title {
    font-size: 12px;
  }

  .lvl-card-list .level-card .lvl-percent {
    font-size: 10px;
    padding: 0.316667vw 0.616667vw;
    text-align: center;
  }

  .lvl-card-list .level-card .lvl-title .pot-title {
    line-height: 30px;
  }

  .lvl-card-list .level-card {
    .pot-title {
      font-size: 14px;
      line-height: 20px;
    }

    .lvl-earn {


      p {
        font-size: 15px;
      }
    }
  }

  .short-info-block .ref-amount-cont p,
  .short-info-block .ref-amount-cont .ref-amount {
    font-size: 30px;
  }
}

@media(max-width: 1080px) {
  .short-info-block {
    width: 280px;
  }

  .short-info-block .ref-amount-cont {
    padding: 0 14px;
  }

  .short-info-block .ref-amount-cont:nth-of-type(2) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .lvl-conditions .first-lvl p,
  .lvl-conditions .sec-trd-lvl p,
  .lvl-conditions .fth-fs-lvl p {
    font-size: 10px;
  }
}

.lvl-card-list::before {}

@media(max-width: 845px) {
  .title-ref-link-cont span {
    font-size: 14px;
  }
}

.short-info-block .withdraw-button {
  padding: 15px 0;
}

.short-info-block .cont {
  top: -10px;
}

@media(max-width: 780px) {
  h4 {
    font-size: 25px;
    width: 320px;
  }

  .short-info-block .ref-amount-cont p,
  .short-info-block .ref-amount-cont .ref-amount {
    font-size: 25px;
  }

  .available-rewards_container .rewards-list .rew-card .rew-card-info .info-token-amount span:first-of-type {
    font-size: 25px;
  }

  .short-info-block .ref-amount-cont {
    padding: 0 15px;
  }

  .short-info-block .withdraw-button {
    margin: 15px;
  }

  .available-rewards_container .rewards-list .rew-card .info-ref-amount span:first-of-type {
    font-weight: 500;
    font-size: 25px;
  }

  .copy-msg {
    top: -20px;
  }

  .stack-cash.av-rew-title {
    position: relative;

    .title-hr_half {

      top: 95px;
      right: 30px;
      width: 70%;
    }
  }

  .title-ref-link-cont {
    &>div:nth-of-type(2) {
      flex-direction: column;
      border: none;

      span {
        font-size: px-to-vw(35);
        padding: 1.5625vw;
      }

      div {
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.05);


      }
    }


  }

  .lvl-card-list .level-card .lvl-percent {
    font-size: 12px;
    margin-left: 10px;
    padding: 8px;
  }

  .read-more-line {
    margin: 15px 0;
  }

  .lvl-card-list .lvl-row:last-of-type .level-card .lvl-title {
    justify-content: center;
  }

  .refs-level-cont .lvl-conditions {
    width: 90%;
    justify-content: space-evenly;
    margin-top: 20px;

    .sec-trd-lvl {
      border: none;

    }

    div {
      width: 100px !important;
    }
  }

  .lvl-cond-text {
    p {
      text-align: center;
      font-weight: 200;
    }
  }

  .refs-level-cont .lvl-card-list.lvl-modified .level-card .lvl-title .pot-title {
    font-size: 12px;
  }

  .title-ref-link-cont {

    span,
    button.ref-link {
      margin: auto 1.3020833333vw;
    }
  }

  .title-ref-link-cont .title-copy-button div {
    height: 45px;
    width: 45px;
  }

  .ref-title-cont {
    align-items: unset;
    width: 80%;
  }

  .ref-title-cont {
    align-self: center;
  }

  .title-ref-link-cont .title-copy-button {
    width: px-to-vw(300);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-ref-link-cont div:nth-of-type(2) {
    width: 100%;

    .ref-link {
      line-height: 24px;
      font-size: px-to-vw(35);
      text-align: left;
      white-space: nowrap;
    }
  }
}

.refs-level-cont .lvl-card-list,
.lvl-conditions {
  width: fit-content;
  align-self: center;
}

@media (max-width: 580px) {
  .title-ref-link-cont .title-copy-button {
    width: 21.625vw;

  }

  .rewards-stat {
    display: none;
  }

  .title-ref-link-cont>div:nth-of-type(2) span {
    font-size: 2.5vw;
  }

  .title-ref-link-cont div:nth-of-type(2) .ref-link {
    font-size: 2vw;
  }
}

@media(max-width: 510px) {
  .title-ref-link-cont .title-copy-button {
    width: 100px;
  }

  .stack-cash.av-rew-title .title-hr_half {
    right: -10px;
  }
}

@media(max-width: 489px) {

  .refs-level-cont .lvl-card-list.lvl-modified .lvl-row .lvl-ref-mount,
  .refs-level-cont .lvl-card-list.lvl-modified .lvl-row .lvl-title,
  .refs-level-cont .lvl-card-list.lvl-modified .lvl-row .lvl-earn {
    padding: 1.520833vw 4.25vw;
  }
}

@media(max-width: 395px) {
  h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .title-ref-link-cont>div:nth-of-type(2) span {
    font-size: 3.3vw;
  }

  .title-ref-link-cont div:nth-of-type(2) .ref-link {
    font-size: 2.3vw;
  }

  .ref-title-cont {
    width: 90%;
  }

  .refs-level-cont .lvl-card-list.lvl-modified .level-card .lvl-title .pot-title {
    font-size: 14px;
    margin-top: 1px;
  }

  .stack-cash.av-rew-title .title-hr_half {
    top: 70px;
  }
}

@media(max-width: 350px) {
  .refs-level-cont .lvl-conditions div {
    width: 70px !important;
  }
}