doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="../styles/style.css")   
        link(rel="stylesheet" href="../styles/lottery_style.css")   
        link(rel="stylesheet" href="../styles/referal_style.css")   
        script(src="../script/burger-script-menu.dev.js" defer) 
        link(rel="stylesheet" href="../styles/mobile.css")
        title BSC Referal
    body
        include base-mixin.pug
        include referal_mixin.pug 
        .popup-bg
        .wrapper
            +_header
            .container
                +_menu
                +_referal
        script(src="../clipboard.js-master/dist/clipboard.min.js" defer) 
        script(src="../script/refferal_script.dev.js" defer) 
