mixin _rules
    section.page_main_content
        .rules_info 
            .rules_info__text 
                p.title Pre Sale Rules
                p.text There will initally be three pre-sale rounds (3 days usercan buy tokens only, no stake everything, referral systemworks)
                p.text Unsold tokens are placed in the Energy Staking Pool
            .rules_info__block 
                ul 
                    li
                        |1 day 
                        span - sold up to 1,000,000 at a price of
                        | ~ $ 0.5 (0.0010 BNB
                        span (Max 10 BNB per user)
                    li
                        |2 day  
                        span - on sale up to 700,000 at a price of
                        | ~ 0.6$ (0.0011 BNB)
                        span (Max 15 BNB per user)
                    li
                        |3 day  
                        span - sold up to 300,000 at a price of
                        | ~ 0.7$ (0.0013 BNB)
                        span (Max 20 BNB per user)
                p.text On the 4th day - the internal liquidity pool becomes available for everyoneand the initial price is ~ 1$ (0.0019 BNB)
        hr.orange_line
        .withdraw
            form.withdraw__block 
                .withdraw__block__header 
                    .title Phase 2
                    .time
                        p End in 
                        p 23h 15m 30s
                .withdraw__block__section 
                    ._title Total Tokens
                    .value 700.000
                        img.token-img(src="../img/gex.png")
                .withdraw__block__section 
                    ._title Left Tokens
                    .value 574.182
                        img.token-img(src="../img/gex.png")
                .withdraw__block__section 
                    ._title Price per ONE Token
                    .value 0.011
                        span BNB
                .withdraw__block__footer
                    
                    input.count(type="number" value="100")
                    button.withdraw_button Buy energy
                    .maximum 
                        span Maximum you can buy:
                        p 1000 Energy
                            span (~10 BNB)
            form.withdraw__block 
                .withdraw__block__back
                .withdraw__block__block 
                    .withdraw__block__header 
                        .title Phase 2
                        .time
                            p End in 
                            p 23h 15m 30s
                    .withdraw__block__section 
                        ._title Total Tokens
                        .value 700.000
                            img.token-img(src="../img/gex.png")
                    .withdraw__block__section 
                        ._title Left Tokens
                        .value 574.182
                            img.token-img(src="../img/gex.png")
                    .withdraw__block__section 
                        ._title Price per ONE Token
                        .value 0.011
                            span BNB
                    .withdraw__block__footer 
                        input.count(type="number" value="100")
                        button.withdraw_button Buy energy
                        .maximum 
                            span Maximum you can buy:
                            p 1000 Energy
                                span (~10 BNB)
            form.withdraw__block 
                .withdraw__block__back
                .withdraw__block__block 
                    .withdraw__block__header 
                        .title Phase 2
                        .time
                            p Start in
                            p 1d 1h 45m 30s
                    .withdraw__block__section 
                        ._title Total Tokens
                        .value 300.000
                            img.token-img(src="../img/gex.png")
                    .withdraw__block__section 
                        ._title Left Tokens
                        .value 300.000
                            img.token-img(src="../img/gex.png")
                    .withdraw__block__section 
                        ._title Price per ONE Token
                        .value 0.013
                            span BNB
                    .withdraw__block__footer 
                        input.count(type="number" value="100")
                        button.withdraw_button Buy energy
                        .maximum 
                            span Maximum you can buy:
                            p 1538 Energy 
                                span (~20 BNB)