$screen-width: 1920;
$screen-height: 1080;

@function px-to-vw($value-width) {
  @return $value-width * 100 / $screen-width+vw;
}

@function vh($value-height) {
  @return $value-height * 100 / $screen-height+vh;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  color: #fff;
  user-select: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.user_medals-container {
  margin-top: px-to-vw(20);
}

.stack_stat .energy_account-container {
  flex-wrap: wrap;
}

a {
  overflow: none;
  text-decoration: none;

  &:hover,
  &:visited,
  &:active {
    overflow: none;
    text-decoration: none;
  }
}

button {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  &:hover {
    cursor: pointer;
  }
}

html,
body {
  z-index: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #181a44;
}

.krug {
  position: absolute;
  width: 1153px;
  height: 136px;
  left: px-to-vw(968);
  top: px-to-vw(-203);

  background: #00a3ff;
  filter: blur(300px);
}

.wrapper {
  max-width: px-to-vw(1735);
  margin: auto;
}

.header {
  height: px-to-vw(118);
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;

    .user_info-short {
      margin-right: px-to-vw(60);

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: px-to-vw(21);

        span {
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;

          color: rgba(255, 255, 255, 0.3);
        }

        p {
          margin: px-to-vw(5) 0;

          span {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #00a3ff;
          }
        }

        .user_account {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #ffffff;
        }
      }
    }
  }

  .user_avatar {
    height: px-to-vw(60);
    width: px-to-vw(60);
    border-radius: 15px;
    filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.15));
  }

  button {
    height: px-to-vw(60);
    width: px-to-vw(60);
    overflow: none;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;

    svg {
      margin-left: 5px;
      margin-top: -1px;
    }

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.7);
      transform: scale(1.05);
    }
  }
}

.container {
  display: grid;
  grid-template-columns: px-to-vw(305) auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  grid-template-areas: ". .";

  aside {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;

    .nav_button {
      border-radius: 15px;
      height: px-to-vw(70);
      padding: px-to-vw(10) 0;
      margin: 10px 0;

      border: none;
      background: none;
      display: flex;
      align-items: center;
      transition: 0.3s ease;

      &.energy .button_icon svg,
      &.lottery .button_icon svg {
        margin-top: 0px;
      }

      &.wiki .button_icon svg path {
        fill: rgba(255, 255, 255, 0.15);
      }

      .button_icon {
        height: px-to-vw(52);
        width: px-to-vw(52);
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        transition: inherit;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-top: -3px;
          margin-left: 1px;

          path {
            fill: rgba(255, 255, 255, 0.1);
            transition: 0.3s ease;
          }
        }
      }

      .button_title {
        margin-left: 22px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.1);
        transition: 0.2s ease;
      }

      &:hover {
        /* Add blured background to a non-active button
                background: rgba(255, 255, 255, 0.02);
                backdrop-filter: blur(25px);
                border-radius: 15px;
                */
        padding: px-to-vw(20);
        padding-right: px-to-vw(30);

        span {
          color: rgba(255, 255, 255, 0.5);
        }

        .button_icon {
          border: 1px solid rgba(255, 255, 255, 0.5);

          svg path {
            fill: rgba(255, 255, 255, 0.5);
          }
        }
      }

      &.active {
        background: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(25px);
        border-radius: 15px;
        padding: px-to-vw(20);
        padding-right: px-to-vw(30);

        span {
          color: #fff;
        }

        .button_icon {
          background: linear-gradient(132.67deg, #4600ff -2.2%, #449ed1 102.2%);
          border: none;

          svg path {
            fill: #fff;
          }
        }

        &:hover {
          border: none;

          span {
            color: #fff;
          }

          .button_icon svg path {
            fill: #fff;
          }
        }
      }
    }

    .change_lang-container {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      width: 100%;

      form.change_lang-btn {
        margin-top: 35px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        padding: 0;



        .lang-title {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #ffa114;
          margin-left: 14px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .user_medals-container {
      & * {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }

      p {
        color: #ffffff;
        margin-bottom: 12px;
      }

      .user_medal-count {
        color: #00a3ff;
      }

      .received_medals-title {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.3);
      }

      .medals {
        margin-top: 17px;
        padding: px-to-vw(20) px-to-vw(19);
        width: px-to-vw(260);
        height: px-to-vw(100);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.03);
        backdrop-filter: blur(25px);
        border-radius: 15px;

        img[alt="medal"] {
          height: px-to-vw(60);
          width: px-to-vw(60);
          transition: 0.3s ease;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }

    .social_media_links-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 36px;
      padding-right: px-to-vw(70);
      margin-bottom: 50px;

      .link {
        svg path {
          fill: rgba(255, 255, 255, 0.1);
          transition: 0.2s ease;
        }

        &:hover {
          svg path {
            fill: #00a3ff;
          }
        }
      }

      .whatsapp,
      .youtube {
        svg {
          path {
            fill: rgba(255, 255, 255, 0.18);
          }
        }
      }
    }
  }
}

.page_main_content {
  max-width: px-to-vw(1290);
  width: 95%;
  margin: 0 auto;
  margin-top: px-to-vw(30);

  p {
    margin: 0;
  }
}

.token-img {
  width: px-to-vw(30);
  height: px-to-vw(34);
  margin-right: px-to-vw(16);
}

.shaded-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

.title_hr {
  height: 1px;
  max-width: px-to-vw(700);
  width: px-to-vw(450);
  min-width: px-to-vw(200);
  background: linear-gradient(270deg,
      rgba(19, 16, 69, 0) 2.15%,
      #ffa114 47.35%,
      rgba(19, 16, 69, 0) 97.52%);
  border: none;
}

// _dashboard styles

.orange,
.blue {
  border-radius: 15px;
  font-size: 15px;
  line-height: 18px;

  &:active {
    top: 2px;
  }
}

.orange {
  border: 1px solid #ffa114;
  padding: px-to-vw(15) px-to-vw(40);
  margin-right: px-to-vw(15);
  color: #ffa114;

  &::before {
    background-color: rgb(100%, 63.1%, 7.8%, 0.3);
    width: 8vw;
  }
}

.blue {
  border: 1px solid #00a3ff;
  padding: px-to-vw(15) px-to-vw(60);
}

.stack_stat {
  .stack-title {
    display: flex;
    align-items: center;

    .stack-cash {
      display: flex;
      flex-direction: row;

      p {
        font-weight: 300;
        font-size: 35px;
        line-height: 43px;
        color: rgba(255, 255, 255, 0.2);
        white-space: nowrap;

        span:first-of-type {
          color: #00a3ff;
        }
      }
    }

    .token {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;

      .token_price {
        color: #00a3ff;
        background: rgba(255, 255, 255, 0.03);
        border-radius: 15px;
        padding: px-to-vw(21) px-to-vw(46);
        margin-left: px-to-vw(25);
        white-space: nowrap;
      }
    }
  }

  .stack-graph {

    background: linear-gradient(93.58deg,
        rgba(62, 66, 182, 0.5) -19.17%,
        rgba(32, 34, 105, 0.5) 95.81%);
    border-radius: 15px;
    margin-top: px-to-vw(40);
    width: 100%;

    .stack-graph--body {
      min-height: 360px;
      max-width: px-to-vw(1250);
      margin: 0 auto;
      top: -15px;
      padding: px-to-vw(30) px-to-vw(45);
      background: linear-gradient(93.58deg, #3c3f98 -19.17%, #191a51 95.81%);
      box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
      border-radius: 15px;

      position: relative;
      display: flex;
      justify-content: space-between;

      .graph-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 25px;

        .graph-title {
          font-weight: 500;
          font-size: 55px;
          line-height: 43px;
          margin: 0;
          margin-top: 10px;
        }

        .title-hr_half {
          margin: px-to-vw(18) 0;
          background: linear-gradient(90deg,
              #fa9c4c 0%,
              rgba(33, 35, 94, 0) 112.26%);
          height: 1px;
          width: px-to-vw(155);
          border: none;
        }

        .graph-pending,
        .graph-worth {
          font-weight: 300;
          font-size: 15px;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.3);
          display: flex;
          flex-direction: column;

          p {
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 24px;
            color: #00a3ff;

            span {
              color: #ffffff;
            }
          }
        }

        button.graph-button {
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;

          border: 1px solid #00a3ff;
          border-radius: 15px;
          padding: px-to-vw(17) px-to-vw(48);
          transition: 0.2s ease;

          &:active {
            top: 2px;
          }
        }
      }

      .graph-body {
        max-width: px-to-vw(905);
        width: px-to-vw(905);
        min-width: px-to-vw(150);
        min-height: px-to-vw(300);
        border: 1px solid rgba(255, 255, 255, 0.15) !important;
        width: px-to-vw(900);
        overflow: hidden;
        border-radius: 15px 15px 0 0;

        #myChart {
          width: 102% !important;
          height: auto !important;
          margin-left: -11px;
        }
      }

      margin-bottom: px-to-vw(50);
    }
  }

  .energy_account-container {
    display: flex;
    justify-content: space-between;

    .energy-spot {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .energy-actions {
      width: 73.4%;
      background: rgba(255, 255, 255, 0.02);
      backdrop-filter: blur(20px);
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-right: 20px;

      .token-cont {
        padding: px-to-vw(22) px-to-vw(27);
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          span {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
          }

          p {
            margin: 0;
            margin-top: 3px;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;

            span {
              font-weight: 300;
              font-size: 15px;
              line-height: 18px;
              color: #00a3ff;
            }
          }
        }
      }

      .token-pocket {
        margin-left: px-to-vw(24);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        height: 100%;

        span {
          margin-left: px-to-vw(10);
        }
      }

      .token-price {
        height: 100%;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        margin-right: px-to-vw(45);

        p {
          display: flex;
          align-items: center;
          font-weight: normal;

          span {
            color: #00a3ff;
          }
        }
      }

      .token-price,
      .token-pocket {
        font-size: 20px;
        line-height: 24px;
        padding: 0 px-to-vw(27);
        display: flex;
        align-items: center;
      }

      .token-action-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: px-to-vw(27);
      }
    }

    .energy-spot {
      background: linear-gradient(93.58deg, #3c3f98 -19.17%, #191a51 95.81%);
      border-radius: 15px;
      display: flex;
      justify-content: space-between;

      .spot-body {
        padding: px-to-vw(16) 0 px-to-vw(20) px-to-vw(28);
        padding-right: 20px;

        &>span {
          font-weight: 200;
          font-size: 12px;
          line-height: 15px;
          color: rgba(255, 255, 255, 0.3);
        }

        .spot-wrapper {
          svg {
            height: px-to-vw(30);
            width: px-to-vw(32);
          }

          display: flex;
          align-items: center;

          div {
            margin-left: px-to-vw(13);

            span.token-mount {
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;

              &::after {
                content: " Energy";
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;

                color: rgba(255, 255, 255, 0.2);
              }
            }

            p {
              font-weight: 300;
              font-size: 12px;
              line-height: 15px;
              margin: 0;

              span {
                color: #00a3ff;
              }
            }

            display: flex;
            flex-direction: column;
          }
        }
      }

      .spot-button {
        background: linear-gradient(94.9deg, #292b76 0.81%, #1a1c52 95.55%);
        border-radius: 0px 15px 15px 0px;
        padding: 0 px-to-vw(37);
        display: flex;
        align-items: center;
        height: 100%;
        transition: 0.3s ease;

        svg,
        &::after {
          transition: 0.3s ease;
        }

        &::after {
          margin-left: 15px;
          position: absolute;
          content: "Go to";
          color: #ffa114;
          transition: 0.2s ease;
          text-decoration: none;
          overflow: none;
          opacity: 0;
          right: -100px;
          transition: 0.3s ease;
        }

        &:hover {
          transition: 0.3s ease;

          svg {
            margin-right: 45px;
            transition: 0.3s ease;
          }

          &::after {
            right: initial;
            display: block;
            opacity: 1;
          }
        }
      }
    }
  }
}

// slider styles
.slider {
  position: relative;
  height: 140px;
  background: linear-gradient(93.58deg,
      rgba(62, 66, 182, 0.5) -19.17%,
      rgba(62, 66, 182, 0.5) -19.16%,
      rgba(32, 34, 105, 0.5) 95.81%);
  border-radius: 15px;
  overflow-x: hidden;
  margin-bottom: px-to-vw(24);
  display: flex;

  .slider-items {
    height: 100%;
    display: flex;
    position: relative;
    z-index: 100;

    .item {
      height: inherit;
      transition: 0.2s ease;
      background-image: url("../img/item-bg.png");
    }
  }

  .slider-navigation {
    width: 100%;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1000;
    align-self: center;

    .nav-planks {
      display: flex;
      align-self: flex-end;

      .item_plank {
        width: px-to-vw(20);
        height: 3px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 15px;
        transition: 0.2s ease;

        &:not(:first-of-type, :last-of-type) {
          margin: 0 px-to-vw(5);
        }

        &:first-of-type {
          margin-right: px-to-vw(5);
        }

        &:last-of-type {
          margin-left: px-to-vw(5);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .active_plank {
        width: px-to-vw(35);
        background-color: #ffa114;
      }

      margin-bottom: px-to-vw(25);
    }

    .nav__button_right {
      svg {
        transform: rotate(180deg);
      }
    }

    .nav__button {

      &_left,
      &_right {
        width: 5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        svg {
          transition: 0.2s ease;
        }

        &:hover {
          svg {
            cursor: pointer;
          }
        }
      }

      &_left:hover {
        svg {
          margin-left: 10px;
        }
      }

      &_right:hover {
        svg {
          margin-right: 10px;
        }
      }

      &_right {
        padding-right: px-to-vw(35);
        justify-content: flex-end;
      }

      &_left {
        padding-left: px-to-vw(35);
      }
    }
  }
}





.assigments_container .assigment-item .as-title .as-title--img .title-circle span {
  line-height: unset !important;
}

// end slider's style
.full-blue {
  background: #00a3ff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: px-to-vw(15) px-to-vw(30);
  border-radius: px-to-vw(15);
  transition: 0.2s ease;

  &:active {
    top: 1px;
  }
}

// pool's style
.line-article-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .article_text {
    font-weight: 300;
    font-size: 35px;
    line-height: 43px;
  }

  .active_pools-cont,
  .pools-article_button {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.2);
    white-space: nowrap;
  }

  .pools-article_button {
    transition: 0.2s ease;

    &:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .active_article_btn {
    color: rgba(255, 255, 255, 0.6);
  }

  .title_hr {
    margin: auto 0;
    width: px-to-vw(700);
  }
}

.pools_container {
  margin-top: px-to-vw(25);
  margin-bottom: px-to-vw(45);

  .pools_card_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: px-to-vw(25);

    .pool_card {
      max-width: px-to-vw(410);
      overflow: hidden;
      width: 100%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(93.58deg, #3c3f98 -19.17%, #191a51 95.81%);
      border-radius: px-to-vw(15);

      .card-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: px-to-vw(20) px-to-vw(23);

        &-token {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          display: flex;
          align-items: center;
        }

        .token-fox-tag {
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          margin-left: px-to-vw(10);
          color: #ffa114;
          border: 1px solid #ffa114;
          box-sizing: border-box;
          padding: px-to-vw(2) px-to-vw(12);
          border-radius: px-to-vw(15);
          min-height: px-to-vw(25);

          img {
            margin-left: 2px;
          }
        }
      }

      .card-token-progress {
        padding: px-to-vw(20) px-to-vw(23);
        background: linear-gradient(94.9deg, #292b76 0.81%, #1a1c52 95.55%);

        .profit-title {
          font-weight: 300;
          font-size: 20px;
          line-height: 18px;

          .stat-with-turbo {
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.3);
          }

          p span {
            color: #ffa114;
          }
        }

        .profit-percents {
          font-weight: normal;
          font-size: 35px;
          line-height: 43px;

          span {
            color: #00a3ff;
          }
        }
      }

      .token-profit {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .pool-progress {
        display: flex;
        flex-direction: column;

        .left-percents {
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;

          span {
            color: #ffa114;
          }
        }

        .left-time {
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          color: rgba(255, 255, 255, 0.3);
        }
      }

      .card-pool-multipliers {
        padding: px-to-vw(20) px-to-vw(23);
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .multiplier {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: px-to-vw(5) 0;
          white-space: nowrap;

          div:first-of-type {
            display: flex;
            align-items: center;
          }

          &:first-of-type {
            margin-top: 0;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          .multiplier-level {
            padding: px-to-vw(8) px-to-vw(11);
            background: #00a3ff;
            border-radius: 15px;
            margin-right: px-to-vw(10);
          }

          .end-bonus {
            font-weight: 500;
            font-size: 15px;
            line-height: 17px;
          }

          .mult-counter {
            font-weight: 300;
            font-size: 15px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.3);

            .end-bonus {
              font-weight: 300;
              font-size: 15px;
              line-height: 17px;
            }
          }
        }
      }

      .card-pool-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
      }

      .progress-bar {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        margin: px-to-vw(15) 0;
        width: 100%;
        height: 8px;
        max-width: px-to-vw(370);
        border-radius: px-to-vw(15);
        background: rgba(255, 255, 255, 0.1);

        &::-webkit-progress-bar {
          background: rgba(255, 255, 255, 0.1);
          border-radius: px-to-vw(15);
        }

        &::-webkit-progress-value {
          background: #00a3ff;
          border-radius: px-to-vw(15);
        }

        &::-moz-progress-bar {
          background: #00a3ff;
          border-radius: px-to-vw(15);
        }
      }

      .card-pool-stack {
        padding: px-to-vw(20) px-to-vw(23);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .orange {
          margin: 0;
        }
      }

      .card-pool-earned {
        padding: px-to-vw(20) px-to-vw(23);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .full-blue {
          padding: px-to-vw(15) px-to-vw(40);
        }
      }

      button.details-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: px-to-vw(25) 0;
        border-radius: 0 0 px-to-vw(15) px-to-vw(15);
        align-self: center;
        background: linear-gradient(94.9deg, #292b76 0.81%, #1a1c52 95.55%);

        svg {
          transform: rotate(-90deg);
          margin-left: px-to-vw(10);
          transition: .2s ease;

          path {
            fill: #ffa114;
          }
        }

        span {
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: #ffa114;
        }
      }
    }

    .stack-amount {
      font-weight: normal;
      font-size: 35px;
      line-height: 22px;
      margin: px-to-vw(12) 0;
    }

    .stack-difference {
      font-weight: normal;
      font-size: 12px;
      line-height: 22px;
      /* or 183% */

      color: #ffa114;
    }

    .stack-desc {
      display: flex;
      flex-direction: column;
    }

    .token-stack-name {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;

      span {
        color: #00a3ff;
      }
    }
  }
}

.assigments_container {
  display: flex;
  flex-direction: column;
  margin-bottom: px-to-vw(40);

  .change-list-visibility {
    display: flex;
    justify-content: center;
    margin-top: px-to-vw(35);
    margin-bottom: px-to-vw(20);
    align-items: center;

    svg {
      transform: rotate(-90deg);
      transition: 0.2s ease;
    }

    .active-rot-svg {
      transform: rotate(90deg);
    }
  }

  .assigments-list {
    min-height: px-to-vw(146);
    transition: 0.2s ease;
    padding-top: px-to-vw(30);
    padding-left: px-to-vw(50);
    padding-right: px-to-vw(60);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: px-to-vw(15);
  }

  .opened-list {
    overflow: hidden;
    transition: 0.2s ease;
  }


  .assigment-item {
    display: grid;
    position: relative;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
    height: 95px;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 0 px-to-vw(40);
    color: #ffffff;
    margin-bottom: px-to-vw(23);
    border: 1px solid #2c2e7780;
    transition: 0.2s ease;

    &::before {
      position: absolute;
      border-radius: px-to-vw(15);
      opacity: 0;
      z-index: 10;
      transition: 0.2s ease;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(93.58deg,
          #3c3f98 -19.17%,
          #2c2e77 17.36%,
          #191a51 95.81%);
    }

    &:hover {
      cursor: pointer;
      border-color: transparent;

      &::before {
        opacity: 1;
      }

      .as-description {
        p {
          color: #fff;
        }
      }

      .as-title {
        .as-title--img {
          .title-circle {
            border: 1px solid #ffa114;
          }
        }
      }
    }

    .as-description {
      width: px-to-vw(430);
      display: flex;
      align-items: center;
      padding: 0 px-to-vw(75);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      position: relative;
      z-index: 15;

      p {
        text-align: center;
        transition: 0.2s ease;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.3);
      }
    }

    .as-title {
      position: relative;
      z-index: 15;
      display: flex;
      align-items: center;

      .as-title--img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: px-to-vw(60);
        width: px-to-vw(60);
        border-radius: px-to-vw(15);
        border: 1px solid rgba(255, 255, 255, 0.2);

        .title-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          height: px-to-vw(30);
          width: px-to-vw(30);
          border: 1px solid #00a3ff;
          border-radius: 50%;

          transition: 0.2s ease;

          svg {
            height: px-to-vw(15);
            width: px-to-vw(10);
            margin-left: 0.5px;
          }

          span {
            display: block;
            margin: auto;
            text-align: center;
            font-weight: 500;
            font-size: px-to-vw(18);
            line-height: 24px;
            color: #00a3ff;
          }

          .third-stake--fig {
            padding-left: 1px;
            margin-top: px-to-vw(-1);
          }
        }
      }

      span {
        margin-left: px-to-vw(18);
      }
    }

    .as-prize {
      span {
        margin-left: px-to-vw(10);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }

      svg {
        path {
          box-shadow: 0px 0px 20px rgba(255, 161, 20, 0.8);
        }
      }

      span.lottery-ticket-mount {
        color: #ffa114;
      }

      position: relative;
      z-index: 15;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.news_container {
  margin-bottom: px-to-vw(80);

  .line-article-container {
    margin-bottom: px-to-vw(35);
  }

  .news-item {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(25px);
    border-radius: px-to-vw(15);
    padding: px-to-vw(21) px-to-vw(32);
    display: flex;
    justify-content: flex-start;
    margin-bottom: px-to-vw(20);
    border: 1px solid #2c2e7780;

    .news-item--img-container {
      height: auto;
      margin-right: 25px;

      .news-item--img {
        width: px-to-vw(441);
        height: 100%;
      }
    }

    .news-item--info {
      display: flex;
      flex-direction: column;
      height: auto;

      .info-create-date {
        margin-top: px-to-vw(15);
        margin-bottom: px-to-vw(12);
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;

        &::before {
          margin-top: -3px;
          margin-right: px-to-vw(10);
          font-weight: 300;
          font-size: 30px;
          content: "·";
          color: #ffa114;
        }
      }

      .info-title {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        max-width: px-to-vw(580);
      }

      .link-button {
        margin-top: px-to-vw(30);
        align-self: flex-start;
        border: 1px solid #00a3ff;
        border-radius: 15px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        padding: px-to-vw(17) px-to-vw(62);
        position: relative;

        &::before {
          position: absolute;
          content: "";
          top: 10%;
          left: 10%;
          width: 80%;
          height: 80%;
          background: rgba(0, 163, 255, 0.2);
          filter: blur(px-to-vw(35));
          border-radius: px-to-vw(15);
          z-index: -10;
          opacity: 0;
          transition: 0.3s;
        }

        &:hover::before {
          opacity: 1;
        }
      }
    }
  }
}

.assigments_container .as-modified {
  display: none;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
  padding: 0;
  height: unset;
  margin-bottom: 10px;

  &>div:first-child {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
  }

  .as-title,
  .as-description,
  .as-prize {
    padding: 1vw 2vw;

  }

  .as-prize {
    border-left: 1px solid rgba(255, 255, 255, 0.05);
  }

  .as-description {
    border: none;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }
}

.assigments_container .assigment-item .as-description p {
  text-align: left;
}

.assigments_container .assigment-item::before {
  border-radius: 15px;
}

.info-title {
  hr {
    margin-top: 27px !important;
  }
}

.slider .slider-items .item {
  background-size: cover;
  background-repeat: no-repeat;
}

.line-article-container .article_text {
  white-space: nowrap;
}

.as-title .as-title--img {
  height: 45px !important;
  width: 45px !important;

  .title-circle {
    width: 20px !important;
    height: 20px !important;

    span {
      font-size: 15px;
      left: .5px !important;
      position: relative !important;
    }
  }
}

.assigments_container .assigment-item .as-prize span {
  white-space: nowrap;
}

.stack_stat .stack-graph .stack-graph--body .graph-body {
  overflow: visible;
  border-radius: 0;
  border: none !important;
  border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.container aside .user_medals-container .medals {
  position: relative;

  div {
    position: relative;

    &::before {
      position: absolute;
      content: '45';
      background: linear-gradient(132.67deg, #4600FF -2.2%, #449ED1 102.2%);
      border-radius: 15px;
      padding: 3px 6px;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      top: px-to-vw(45);
      left: px-to-vw(32);
      z-index: 1000;
    }
  }
}

@media(max-width: 1200px) {
  .container aside .user_medals-container .medals div {
    &::before {
      padding: 1px 0;
      width: 3.125vw;
      left: 0;
      top: px-to-vw(65);
      font-size: px-to-vw(20);
    }

  }
}

@media(max-width: 780px) {
  .container aside .user_medals-container .medals div::before {
    line-height: 14px;
  }
}



.change_lang-btn {
  position: relative;

  span {
    color: #ffa114;

  }

  .lang-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: -10px;
    border-radius: 0 0 15px 15px;
    background-color: #181a44;
    opacity: 0;
    overflow: hidden;
    transition: .3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: none;
    max-height: 0;

    label {
      color: #ffa114;
      margin: 2px 10px;

      &:hover {
        cursor: pointer;
      }

      &:last-of-type {
        margin-bottom: 15px;
      }
    }

    .option-input {
      display: none;
    }
  }

  .active-lang-cont {
    opacity: 1;
    max-height: fit-content;
  }
}

.stack_stat .stack-graph .stack-graph--body .graph-body {
  min-height: 200px;
}

.hidden {
  display: none !important;
}


.pools_container .pools_card_list .pool_card button.details-button {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.pools_card_list {
  .pool_card {
    align-self: flex-start;
  }
}

.active-det-btn {
  border-radius: 0 !important;
  background: transparent !important;
  border-top: none !important;

  svg {
    transition: .2s ease;
    transform: rotate(-270deg) !important;
  }
}


.details-block {
  padding: 20px 25px;
  background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%);

  .d-row {
    span {
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    .d-hr {
      width: px-to-vw(100);
      border: none;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.05);
    }

    .d-par {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;

      line-height: 20px;

      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        /* identical to box height, or 167% */


        color: #00A3FF;
      }
    }
  }
}

.card-token-progress.closed-pool {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .level {
    background: #00A3FF;
    border-radius: 15px;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not(:first-of-type) {
    background: transparent !important;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  &:nth-of-type(2) {
    opacity: 0.2;

    .level {
      background-color: rgba(255, 255, 255, 0.4);
    }

    .profit-title {
      p {
        span {
          color: #fff !important;
        }
      }

    }

    .profit-percents {
      span {
        color: #fff !important;
      }
    }
  }

  &:last-of-type {
    opacity: 0.1;

    .level {
      background-color: rgba(255, 255, 255, 0.4);
    }

    .profit-title {
      p {
        span {
          color: #fff !important;
        }
      }

    }

    .profit-percents {
      span {
        color: #fff !important;
      }
    }
  }

  .token-profit {
    .profit-title {
      margin-right: px-to-vw(50);
      font-size: 17px !important;
    }
  }
}

.unlock-pool {
  border: 1px solid #00A3FF;
  box-sizing: border-box;
  border-radius: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  width: fit-content;
  align-self: center;
  padding: 20px px-to-vw(130);
  position: relative;
  top: -10px;

  &::before {
    transition: .2s ease;
  }

  &:active {
    top: -9px;
  }


  &:hover {
    &::before {
      content: '';
      background: rgba(0, 163, 255, 0.1);
      filter: blur(35px);
      border-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      transition: .2s ease;
      top: 0;
    }
  }
}

.pools_container .pools_card_list .pool_card input[type='range'] {
  max-width: unset;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}


.pools_container .pools_card_list .pool_card.stake-pool .card-pool-multipliers {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.choose-stake-plan {
  display: flex;
  padding: 17px 21px;
  flex-direction: column;
  align-items: flex-start;

  div {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    position: relative;

    label {
      display: inline-block;
      flex-direction: row-reverse;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      position: relative;
      cursor: pointer;
      padding-left: 35px;


      &::before {
        content: "";
        width: 30px;
        height: 26px;
        position: absolute;
        top: -5px;
        left: 0;
        background: url('../img/radio-1.png') 0 0 no-repeat;
      }




    }

    &:last-of-type label::after {
      content: 'M2';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      color: #FFA114;
      width: 30px;
      margin-left: 10px;
      height: 30px;
      background: rgba(255, 255, 255, 0.03);
      border-radius: 15px;
      padding: 5px;
    }

    &:nth-of-type(2) label::after {
      content: 'M1';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
      color: #FFA114;
      width: 30px;
      margin-left: 10px;
      height: 30px;
      background: rgba(255, 255, 255, 0.03);
      border-radius: 15px;
      padding: 5px;
    }

    input[type='radio'] {
      display: none;
    }
  }
}

.stack_stat .energy_account-container .energy-spot {

  align-items: unset;
  max-width: unset;
  width: fit-content;
  justify-self: flex-start;

  .spot-button {
    height: auto;
  }
}

.stack_stat .energy_account-container {
  flex-direction: column;
}

.bar-percents {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height, or 113% */
  color: #00A3FF;
  margin-bottom: 10px;
}

input[type='radio']:checked+.plan-tip::before {
  background: url('../img/radio-2.png') 0 0 no-repeat !important;
}


input[type='radio']:disabled+.plan-tip {
  color: rgba(255, 255, 255, 0.3);
}

.confirm-btn {
  top: unset;
  margin: 20px 0;
  width: 90%;

  &:active {
    top: 1px;
  }
}

.predict-profit {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;

    opacity: 0.3;
  }
}

.stake-pool {
  background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%) !important;

  .card-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;

    .card-title-token {
      margin-top: 20px;
      font-weight: 500 !important;
      font-size: 15px !important;
      line-height: 18px !important;
    }


    .token-img {
      width: 26px;
      height: 33px;
    }
  }

  .card-pool-earned {
    background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%) !important;
  }
}

.pools_container .pools_card_list .pool_card.stake-pool .card-pool-multipliers {

  background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%) !important;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.confirm-btn-cont {
  display: flex;
  background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%) !important;
  align-items: center;
  justify-content: center;
}

.stake-pool {
  padding-top: 10px;
  border-radius: 15px !important;
}

.predict-profit {
  padding-bottom: 20px;
  background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%) !important;

}

.popup-bg {
  width: 100%;
  height: 100%;
  z-index: 999999;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  color: #FFFFFF;

  opacity: 0.3;
}

.set-value-btn {
  border: 1px solid #00A3FF;
  box-sizing: border-box;
  border-radius: 15px;
  width: 65px;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  position: relative;

  &:active {
    top: 1px;
  }

  &:hover::before {
    content: "";
    background: rgba(0, 163, 255, 0.1);
    filter: blur(10px);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: 0.2s ease;
    top: 0;
  }

  color: #00A3FF;
}

.stake-pool {
  box-shadow: 0px 0px 1000px rgba(0, 0, 0, 1);
  position: fixed;
  z-index: -1;
  top: 0px;
  left: calc(50% - 175px);
  display: none;
  width: 380px !important;
  opacity: 0 !important;
  transition: .2s ease-in;

  .card-pool-multipliers {
    font-size: 11px !important;

    .multiplier {
      height: 32px !important;
      margin: 0 !important;
    }
  }
}

.stake-pool-active {
  top: 45px;
  z-index: 1000000;
  opacity: 1 !important;
  transition: .2s ease-out;
}


body {
  position: relative;
  margin: 0;
}

.page-shaded {
  position: absolute;
  z-index: 10000000000000000000000000;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}