.small {
  font-weight: 300;
  font-size: 0.625vw;
  line-height: 0.78125vw;
}

.big {
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
}

.extra {
  font-weight: 500;
  font-size: 1.3020833333vw;
  line-height: 1.5625vw;
}

.energy_token_stats {
  width: 100%;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1.3020833333vw);
  border-radius: 0.78125vw;
  border: 1px solid #27296d;
  display: flex;
  align-items: stretch;
  margin-bottom: 1.3020833333vw;
}
.energy_token_stats * {
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
}
.energy_token_stats__title {
  padding: 1.7708333333vw 2.96875vw;
  width: 31.5%;
  font-size: 1.8229166667vw;
  line-height: 2.2395833333vw;
}
.energy_token_stats > div {
  padding: 1.7708333333vw 1.8229166667vw;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.energy_token_stats > div:last-of-type {
  border: none;
}
.energy_token_stats__bnb {
  display: flex;
  align-items: center;
  gap: 0.8854166667vw;
}
.energy_token_stats__bnb img {
  width: 1.8229166667vw;
}
.energy_token_stats__bnb .big {
  color: #44ff67;
  margin-bottom: 0.1041666667vw;
}
.energy_token_stats__bnb .small::first-letter {
  color: #00a3ff;
}
.energy_token_stats__low .small, .energy_token_stats__high .small {
  color: #00a3ff;
}
.energy_token_stats__volume .big, .energy_token_stats__volume .big span {
  color: #ff3180;
  font-weight: 500;
}

.energy_token_action_graph {
  display: flex;
  gap: 3.8020833333vw;
}
.energy_token_action_graph__action {
  width: 25.5%;
}
.energy_token_action_graph__action_type {
  width: fit-content;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 0.78125vw;
  display: flex;
  margin-bottom: 0.9895833333vw;
  position: relative;
}
.energy_token_action_graph__action_type .active_block {
  position: absolute;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 0.78125vw;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.energy_token_action_graph__action_type .active_block.sell {
  left: 50%;
}
.energy_token_action_graph__action_type .type {
  cursor: pointer;
  z-index: 2;
  width: 50%;
  padding: 0.8854166667vw 2.6041666667vw;
  transition: 0.3s;
  font-weight: 300;
  font-size: 0.78125vw;
  line-height: 0.9375vw;
  color: #ffffff;
  opacity: 0.2;
}
.energy_token_action_graph__action_type .type.active {
  opacity: 1;
  font-weight: 500;
  color: #ffa114;
}
.energy_token_action_graph__action_block {
  background: linear-gradient(93.58deg, #3c3f98 -19.17%, #191a51 95.81%);
  box-shadow: 0 0.2083333333vw 2.34375vw rgba(0, 0, 0, 0.25);
  border-radius: 0.78125vw;
  position: relative;
}
.energy_token_action_graph__action_block::before {
  position: absolute;
  content: "";
  width: 16.40625vw;
  height: 18.6458333333vw;
  background: linear-gradient(93.58deg, rgba(62, 66, 182, 0.5) -19.17%, rgba(32, 34, 105, 0.5) 95.81%);
  border-radius: inherit;
  right: -1.25vw;
  bottom: -0.78125vw;
  z-index: -1;
}
.energy_token_action_graph__action_block .pocket {
  padding: 1.3020833333vw;
  display: flex;
  align-items: center;
  gap: 0.5729166667vw;
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0.7291666667vw;
}
.energy_token_action_graph__action_block .pocket svg {
  width: 1.3020833333vw;
  height: 1.25vw;
}
.energy_token_action_graph__action_block .action {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1.3020833333vw;
  padding-bottom: 0.5208333333vw;
  border-bottom: 1px solid #00a3ff;
}
.energy_token_action_graph__action_block .action .title {
  margin-bottom: 0.2083333333vw;
  font-size: 0.78125vw;
  line-height: 0.9375vw;
  opacity: 0.2;
}
.energy_token_action_graph__action_block .action .count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.energy_token_action_graph__action_block .action .count__payed {
  display: flex;
  align-items: flex-end;
  gap: 0.2604166667vw;
}
.energy_token_action_graph__action_block .action .count__payed span {
  font-size: 0.625vw;
  line-height: 0.78125vw;
  opacity: 0.2;
}
.energy_token_action_graph__action_block .action .count__payed input {
  background: none;
  max-width: 7.8125vw;
  border: none;
  font-weight: 500;
  font-size: 1.3020833333vw;
  line-height: 1.5625vw;
  outline: none;
  width: fit-content;
}
.energy_token_action_graph__action_block .action .count__dollars {
  font-weight: 300;
  font-size: 0.625vw;
  line-height: 0.78125vw;
}
.energy_token_action_graph__action_block .action .count__dollars span {
  color: #00a3ff;
  margin-right: 1ch;
}
.energy_token_action_graph__action_block .action_btn {
  display: block;
  border: 0.0520833333vw solid #ffa114;
  border-radius: 0.78125vw;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1.3020833333vw;
  padding: 1.3020833333vw;
  background: rgba(255, 161, 20, 0.05);
  background: radial-gradient(circle, rgba(255, 161, 20, 0.05) 0%, rgba(255, 161, 20, 0.02) 70%, rgba(0, 0, 0, 0) 100%);
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 0.9375vw;
  transition: 0.3s;
}
.energy_token_action_graph__action_block .action_btn:hover {
  background-color: rgba(255, 161, 20, 0.05);
  color: #ffa114;
}
.energy_token_action_graph__action_block .action__stats {
  padding: 1.25vw 1.3020833333vw;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.energy_token_action_graph__action_block .action__stats .stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5208333333vw;
}
.energy_token_action_graph__action_block .action__stats .stat .type {
  font-weight: 300;
  font-size: 0.625vw;
  line-height: 1.0416666667vw;
}
.energy_token_action_graph__action_block .action__stats .stat .count {
  font-weight: 500;
  font-size: 0.625vw;
  line-height: 167%;
}
.energy_token_action_graph__action_block .action__stats .stat .count span {
  opacity: 0.2;
  margin-right: 0.2604166667vw;
}
.energy_token_action_graph__action_block .action__stats .stat hr {
  flex-grow: 1;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  height: 0.0520833333vw;
}
.energy_token_action_graph__graph .date {
  padding-top: 0.5208333333vw;
  display: flex;
  align-items: center;
  gap: 0.625vw;
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 0.9375vw;
  margin-bottom: 1.5625vw;
}
.energy_token_action_graph__graph #myChart {
  width: 45.7291666667vw !important;
  height: 27.1875vw !important;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(1.3020833333vw);
  border-radius: 0.78125vw;
}

.energy_pool {
  margin-top: 1.8229166667vw;
}
.energy_pool__title {
  display: flex;
  align-items: center;
  gap: 0.5208333333vw;
  font-weight: 300;
  font-size: 1.8229166667vw;
  line-height: 2.2395833333vw;
  margin-bottom: 1.0416666667vw;
}
.energy_pool__title hr {
  flex-grow: 1;
  border: 0;
  height: 0.0520833333vw;
  background: linear-gradient(270deg, rgba(19, 16, 69, 0) 2.15%, #ffa114 47.35%, rgba(19, 16, 69, 0) 97.52%);
}
.energy_pool__stats {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1.0416666667vw);
  border-radius: 0.78125vw;
  display: flex;
  align-items: center;
}
.energy_pool__stats .small {
  font-weight: 300;
  font-size: 0.78125vw;
  line-height: 0.9375vw;
}
.energy_pool__stats .extra {
  margin-bottom: 0.1041666667vw;
}
.energy_pool__stats > div {
  padding: 1.1458333333vw 1.8229166667vw;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.energy_pool__stats > div:last-of-type {
  border: none;
}
.energy_pool__stats__token {
  width: 29%;
  display: flex;
  align-items: center;
  gap: 0.78125vw;
  padding: 1.3020833333vw 1.8229166667vw;
}
.energy_pool__stats__token img {
  width: 1.9270833333vw;
}
.energy_pool__stats__token .big {
  margin-bottom: 0.1041666667vw;
  display: flex;
  align-items: center;
  gap: 0.8854166667vw;
}
.energy_pool__stats__token .big span {
  line-height: 1.5;
  gap: 0.15625vw;
  font-size: 0.7291666667vw;
  color: #ffa114;
  border: 0.0520833333vw solid #ffa114;
  border-radius: 0.78125vw;
  padding: 0.1041666667vw 0.625vw;
  display: flex;
  align-items: center;
}
.energy_pool__stats__token .big span img {
  width: 0.7291666667vw;
  height: 0.7291666667vw;
}
.energy_pool__stats__token .small {
  color: #00a3ff;
}
.energy_pool__stats__earned, .energy_pool__stats__yearly, .energy_pool__stats__daily {
  text-align: center;
}
.energy_pool__stats__earned .small, .energy_pool__stats__yearly .small, .energy_pool__stats__daily .small, .energy_pool__stats__tvl .small {
  opacity: 0.2;
}
.energy_pool__stats__tvl {
  text-align: right;
  flex-grow: 1;
}
.energy_pool__stats__yearly .extra, .energy_pool__stats__daily .extra {
  color: #44ff67;
}

.energy_info_blocks {
  margin-bottom: 1.71875vw;
  margin-top: 1.71875vw;
  display: flex;
  align-items: stretch;
  border-top: 0.0520833333vw solid rgba(255, 255, 255, 0.05);
  border-bottom: 0.0520833333vw solid rgba(255, 255, 255, 0.05);
}
.energy_info_blocks__info {
  width: 65.7%;
  padding-top: 1.6666666667vw;
  padding-bottom: 1.8229166667vw;
  padding-right: 1.9270833333vw;
  border-right: 0.0520833333vw solid rgba(255, 255, 255, 0.05);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 1.1458333333vw;
}
.energy_info_blocks__info__block {
  flex-grow: 1;
}
.energy_info_blocks__info__block .title {
  background: linear-gradient(94.9deg, #1a1c52 0.81%, #292b76 95.55%);
  border-radius: 0.78125vw 0.78125vw 0 0;
  font-weight: 300;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
  padding: 1.3020833333vw 1.6666666667vw;
}
.energy_info_blocks__info__block .body {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1.3020833333vw);
  padding: 1.0416666667vw 1.6666666667vw;
}
.energy_info_blocks__info__block .body .extra {
  margin-bottom: 0.3645833333vw;
}
.energy_info_blocks__info__block .body .small {
  font-size: 0.78125vw;
  line-height: 0.9375vw;
}
.energy_info_blocks__info__block .body .small span {
  color: #00a3ff;
}
.energy_info_blocks__info__block .footer {
  background: linear-gradient(94.9deg, #292b76 0.81%, #1a1c52 95.55%);
  border-radius: 0 0 0.78125vw 0.78125vw;
  padding: 0.9375vw 1.6666666667vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 0.46875vw;
}
.energy_info_blocks__info__block .footer button {
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 0.9375vw;
  padding: 0.8854166667vw 0;
  border-radius: 0.78125vw;
}
.energy_info_blocks__info__block .footer button:first-of-type {
  border: 1px solid #ffa114;
}
.energy_info_blocks__info__block .footer button:last-of-type {
  background: #00a3ff;
  border: 1px solid #00a3ff;
}
.energy_info_blocks__reward {
  width: 34.3%;
  padding-top: 1.6666666667vw;
  padding-bottom: 1.8229166667vw;
  padding-left: 1.9270833333vw;
}
.energy_info_blocks__reward__block {
  background: linear-gradient(94deg, #3c3f98 -19.17%, #191a51 95.81%);
  box-shadow: 0 0 2.34375vw rgba(0, 0, 0, 0.25);
  border-radius: 0.78125vw;
}
.energy_info_blocks__reward__block > div {
  padding: 1.25vw 1.6666666667vw;
}
.energy_info_blocks__reward__block .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(265.1deg, #1a1c52 0.81%, #292b76 95.55%);
  border-radius: 0.78125vw 0.78125vw 0 0;
  font-weight: 300;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
}
.energy_info_blocks__reward__block .title svg {
  width: 1.3541666667vw;
  height: 1.3541666667vw;
}
.energy_info_blocks__reward__block .body p {
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 113%;
  color: #00a3ff;
  margin-bottom: 0.625vw;
}
.energy_info_blocks__reward__block .body p:last-of-type {
  margin: 0;
}
.energy_info_blocks__reward__block .body p span {
  margin-left: 0.2604166667vw;
  color: #fff;
  opacity: 0.2;
  font-weight: 300;
}
.energy_info_blocks__reward__block .footer {
  padding: 1.09375vw 1.6666666667vw;
  background: linear-gradient(94.9deg, #1a1c52 0.81%, #292b76 95.55%);
  border-radius: 0 0 0.78125vw 0.78125vw;
  font-weight: 500;
  font-size: 2.0833333333vw;
  line-height: 2.5520833333vw;
}
.energy_info_blocks__reward__block .footer::first-letter {
  color: #00a3ff;
}

.energy_details {
  margin-bottom: 3.125vw;
}
.energy_details__button {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1.8229166667vw;
  display: flex;
  align-items: center;
  gap: 0.5208333333vw;
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 120%;
  color: #ffa114;
  transition: 0.3s;
}
.energy_details__button svg {
  width: 0.4166666667vw;
  height: 0.78125vw;
  transform: rotate(-90deg) scaleX(1) translateX(0.1041666667vw);
  transition: 0.3s;
}
.energy_details__button.active svg {
  transform: rotate(-90deg) scaleX(-1) translateX(-0.1041666667vw);
}
.energy_details__info {
  display: none;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1.3020833333vw);
  border-radius: 0.78125vw;
  border: 1px solid #27296d;
  align-items: stretch;
}
.energy_details__info.active {
  display: flex;
}
.energy_details__info > div:nth-of-type(2) {
  justify-content: center;
  border-left: 0.0520833333vw solid rgba(255, 255, 255, 0.05);
  border-right: 0.0520833333vw solid rgba(255, 255, 255, 0.05);
}
.energy_details__info .column {
  width: 25%;
}
.energy_details__info .column .block:first-of-type {
  border-bottom: 0.0520833333vw solid rgba(255, 255, 255, 0.05);
}
.energy_details__info > .block:last-of-type {
  width: 38%;
}
.energy_details__info > .block:last-of-type > .text {
  margin-bottom: 0.625vw;
}
.energy_details__info > .block:last-of-type div {
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}
.energy_details__info > .block:last-of-type div p span {
  margin: 0 0.1041666667vw 0 0;
}
.energy_details__info > .block:last-of-type div p span.text {
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.energy_details__info > .block:last-of-type div p span.text::first-letter {
  margin-right: 4ch;
}
.energy_details__info .block {
  padding: 1.5625vw 2.65625vw;
  display: flex;
  flex-direction: column;
  gap: 1.0416666667vw;
}
.energy_details__info .block > div {
  display: flex;
  flex-direction: column;
  gap: 0.3645833333vw;
}
.energy_details__info .block .title {
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
  color: #ffffff;
}
.energy_details__info .block .text {
  width: 100%;
  font-weight: 300;
  font-size: 0.78125vw;
  line-height: 113%;
  color: rgba(255, 255, 255, 0.3);
}
.energy_details__info .block .text span {
  margin: 0 0 0 1ch;
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 113%;
  color: #00a3ff;
}
.energy_details__info .block .text span span {
  color: #fff;
}