@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  color: #fff;
  user-select: none;
}

.stack-graph-body {
  height: 18.2291666667vw;
  width: 17.1875vw;
  padding: 1.5625vw 2.34375vw;
  background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  top: -1.0416666667vw;
}

.stack-graph {
  display: flex;
  justify-self: center;
  width: 19.2708333333vw;
  justify-content: center;
  background: linear-gradient(93.58deg, rgba(62, 66, 182, 0.5) -19.17%, rgba(32, 34, 105, 0.5) 95.81%);
  border-radius: 15px;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 0.78125vw;
}

h2,
h3 {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3);
}

h3 {
  margin-bottom: 2.0833333333vw;
}

.draws_container {
  display: flex;
  flex-direction: column;
}

.current-round-info {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  border: 1px solid #2C2E78;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8229166667vw 2.0833333333vw;
}
.current-round-info .curren-pot {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.current-round-info .pot-tickets-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.total-energy-img {
  width: 2.6041666667vw;
  height: 2.9166666667vw;
  margin-right: 1.0416666667vw;
}

.pot-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3);
}

.tickets-button {
  padding: 0.8333333333vw 2.2916666667vw;
  border-radius: 15px;
  min-width: 9.6354166667vw;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-top: 0.5208333333vw;
}
.tickets-button:hover {
  cursor: pointer;
}
.tickets-button:active {
  position: relative;
  top: 2px;
}

.view-tickets {
  background: #00A3FF;
  margin-left: 0.78125vw;
}

.buy-ticket {
  border: 1px solid #FFA114;
  color: #FFA114;
}

.collect-energy {
  width: 15.625vw;
  height: 4.6875vw;
  margin: 0;
  margin-bottom: -0.5208333333vw;
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 24px;
}

.total-energy-amount,
.tickets-amount {
  font-weight: 500;
  font-size: 2.34375vw;
  line-height: 55px;
}

.total-energy-mount div {
  display: flex;
  align-items: center;
  margin: 0.78125vw 0;
}

.round-end-time-container {
  margin: 0 auto;
  top: -8.8541666667vw;
  left: -0.2604166667vw;
  position: relative;
  margin-bottom: -7.8125vw;
}
.round-end-time-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.round-end-time-container div span {
  font-weight: 300;
  font-size: 0.9375vw;
  line-height: 24px;
}

.total-amount {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}
.total-amount span {
  color: #00A3FF;
}

.pools_container .pools_card_list .pool_card .card-pool-stack {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.last_rounds_container .pool_card.total-round-card {
  background: none;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(25px);
  border-radius: 15px;
}
.last_rounds_container .card-title {
  background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
}
.last_rounds_container .card-title span {
  margin: auto;
}
.last_rounds_container .total-lottery-number {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
  padding: 0 2.0833333333vw;
  background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%);
}
.last_rounds_container .total-lottery-number .lottery-number--digit {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(45px);
  border-radius: 15px;
  height: 3.6458333333vw;
  width: 3.6458333333vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last_rounds_container .total-lottery-number .lottery-number--digit span {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #FFA114;
}

.total-energy-mount {
  margin: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-energy-mount div {
  margin: 0;
  margin-bottom: 0.78125vw;
}

.pool_card {
  border: 1px solid #2C2E78;
}

.total-coincidence {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.3020833333vw 0;
}
.total-coincidence .coincidence-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.total-coincidence .coincidence-item:nth-of-type(2) {
  margin: 0 2.0833333333vw;
}
.total-coincidence .coincidence-item .pot-title {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  width: 4.2708333333vw;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.3;
}
.total-coincidence .coincidence-item .number-of-coincidences {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #00A3FF;
}

.line-article-container .article_text {
  white-space: nowrap;
}

@media (max-width: 1650px) {
  .round-end-time-container {
    margin-left: 20.8333333333vw;
  }

  .pools_container .pools_card_list {
    flex-wrap: unset;
  }
}
@media (max-width: 1366px) {
  .round-end-time-container {
    top: unset;
    left: unset;
    margin: unset;
  }

  .tickets-actions {
    display: flex;
    position: absolute;
    top: 14.0625vw;
    left: 85px;
    margin: 0 auto;
  }

  .current-round-info {
    align-items: flex-start;
  }
  .current-round-info > div {
    width: 50%;
  }
  .current-round-info .pot-title {
    text-align: center;
  }
  .current-round-info .curren-pot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .current-round-info .curren-pot * {
    text-align: center;
  }

  .current-round-info .pot-tickets-container {
    align-items: center;
    display: flex;
  }

  .current_round_container > div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .pools_container .pools_card_list .pool_card {
    width: 20.8333333333vw;
  }

  .total-coincidence .coincidence-item .pot-title {
    font-size: 0.8854166667vw;
    line-height: 125%;
  }
}
@media (max-width: 1080px) {
  .pot-tickets-container .pot-title {
    font-size: 15px;
  }

  .pools_container {
    margin-top: 6.302083vw;
  }

  а .pools_container {
    margin-top: 5.2083333333vw;
  }

  .round-end-time-container div span {
    font-size: 1.25vw;
  }

  .total-amount {
    font-size: 2.0833333333vw;
  }

  .total-energy-mount div {
    margin-bottom: 0;
  }

  .current-round-info .curren-pot {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .current-round-info .curren-pot .total-energy-mount {
    margin: unset;
  }

  .tickets-actions {
    top: 13.28125vw;
    margin: 0 auto;
  }

  .last_rounds_container .total-lottery-number .lottery-number--digit span {
    font-size: 2.0833333333vw;
  }
}
@media (max-width: 935px) {
  .tickets-actions {
    top: 14.5833333333vw;
  }
}
@media (max-width: 880px) {
  h1 {
    font-size: 3.125vw;
  }

  h2,
h3 {
    font-size: 1.5625vw;
  }

  .tickets-actions {
    top: 80px;
    flex-direction: column;
    left: unset;
  }
  .tickets-actions .tickets-button {
    padding: 1.833333vw 4.291667vw;
    margin-top: 0.920833vw;
    width: 100%;
    margin-left: 0;
  }

  .current_round_container > div:last-child {
    flex-direction: column;
  }

  .current-round-info {
    width: 80%;
  }

  .round-end-time-container {
    margin-top: 7.8125vw;
  }

  .current-round-info .pot-title {
    font-size: 1.5625vw;
  }

  .tickets-amount {
    line-height: 35px;
  }

  .stack-graph {
    width: 220px;
  }

  .pools_container .pools_card_list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pools_container .pools_card_list .pool_card {
    width: 26.0416666667vw;
  }

  .stack-graph-body {
    height: 220px;
    width: 200px;
  }
  .stack-graph-body .tickets-amount {
    font-size: 35px;
  }
  .stack-graph-body .collect-energy {
    width: 160px;
    height: 50px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    line-height: 24px;
  }
  .stack-graph-body .round-number {
    font-size: 20px;
  }

  .total-coincidence {
    padding: 1.5625vw 2.0833333333vw;
    justify-content: space-around;
  }
  .total-coincidence .coincidence-item {
    margin: 0;
  }
  .total-coincidence .coincidence-item .pot-title {
    text-align: center;
    font-size: 1.1979166667vw;
    width: initial;
  }

  .tickets-actions {
    flex-direction: column-reverse;
  }
}
@media (max-width: 785px) {
  .line-article-container .article_text {
    font-size: 25px;
  }

  h2,
h3 {
    font-size: 1.74375vw;
  }

  h1 {
    font-size: 4.4270833333vw;
  }

  .round-end-time-container {
    margin-top: 11.8125vw;
  }

  .total-energy-amount,
.tickets-amount {
    font-size: 2.6041666667vw;
  }

  .current-round-info .curren-pot .total-energy-amount {
    font-size: 3.604167vw;
  }

  .current-round-info .pot-title {
    font-size: 11px;
    text-align-last: right;
  }
}
@media (max-width: 690px) {
  .current-round-info .curren-pot {
    margin-left: 2.0833333333vw;
    align-items: flex-start;
  }
  .current-round-info .curren-pot .total-energy-mount {
    align-items: flex-start;
  }

  .pools_container .pools_card_list .pool_card {
    width: 250px;
    max-width: unset;
  }

  .stack-graph-body {
    padding: 3.5625vw 2.34375vw;
  }

  .tickets-amount {
    font-size: 4vw;
  }

  .last_rounds_container .total-lottery-number .lottery-number--digit span {
    font-size: 26px;
  }

  .total-coincidence .coincidence-item .pot-title {
    font-size: 10px;
  }

  .round-end-time-container div span {
    font-size: 2.0833333333vw;
  }

  .pot-title {
    line-height: 125%;
    white-space: pre-wrap;
  }

  .total-energy-amount,
.tickets-amount {
    font-size: 40px;
  }

  .pools_container .pools_card_list .pool_card {
    margin-bottom: 25px;
  }

  .pools_container .pools_card_list .pool_card .card-pool-earned {
    padding: 6px 7px;
  }

  .total-amount {
    font-size: 3.083333vw;
  }

  .total-energy-img {
    width: 40px;
    height: 41px;
    margin-right: 1.0416666667vw;
  }

  .pool_card .total-amount {
    font-size: 24px;
  }

  h2,
h3 {
    font-size: 13px;
  }

  .current-round-info .tickets-amount {
    margin-top: 10px;
    font-size: 30px;
  }

  .pools_container .pools_card_list {
    flex-direction: column;
  }

  .pools_container .pools_card_list .pool_card .card-pool-stack {
    padding: 10px 5px;
  }

  .last_rounds_container .total-lottery-number .lottery-number--digit {
    height: 45px;
    width: 45px;
  }

  .current-round-info {
    padding: 15px 7px;
  }

  h1 {
    font-size: 35px;
  }
}
@media (max-width: 580px) {
  .current-round-info .pot-title {
    font-size: 10px;
    text-align: right;
  }

  .current-round-info .curren-pot .total-energy-amount {
    font-size: 25px;
  }

  .current-round-info {
    width: 90%;
  }

  .current-round-info {
    padding: 15px 16px;
  }

  .current-round-info .pot-tickets-container {
    align-items: unset;
  }

  .current-round-info .tickets-amount {
    text-align: right;
  }

  .round-end-time-container {
    margin-top: 25.8125vw;
  }

  .tickets-actions {
    right: 17px;
  }
  .tickets-actions .tickets-button {
    padding: 3.833333vw 10.291667vw;
  }

  .current-round-info {
    height: 135px;
  }

  .tickets-actions {
    top: 75px;
  }

  .tickets-button {
    font-weight: 300;
  }

  .total-amount {
    font-size: 17px;
  }

  .tickets-actions .tickets-button:last-of-type {
    margin-bottom: 10px;
  }

  .current-round-info .pot-title {
    line-height: 15px;
  }
}
@media (max-width: 480px) {
  .tickets-actions .tickets-button {
    padding: 3.833333vw 9.291667vw;
  }

  .current-round-info .tickets-amount {
    margin-top: 7px;
    font-size: 30px;
  }

  .current-round-info {
    width: 100%;
  }

  .pools_container .pools_card_list .pool_card {
    width: 230px;
  }
}
@media (max-width: 360px) {
  /*
  .tickets-actions {
      right: 73px;
      top: 115px;
  }
  */
  .tickets-actions .tickets-button {
    padding: 3.833333vw 6.291667vw;
  }

  .round-end-time-container {
    margin-top: 30.8125vw;
  }
}
@media (max-width: 345px) {
  .tickets-actions {
    right: 11.4583333333vw;
    top: 115px;
  }

  .tickets-actions .tickets-button {
    padding: 3.833333vw 17.291667vw;
  }
}
.popup-input-cont input {
  background: transparent;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #00A3FF;
}
.popup-input-cont input::-webkit-outer-spin-button, .popup-input-cont input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.popup-input-cont input:hover, .popup-input-cont input:focus, .popup-input-cont input:active, .popup-input-cont input:checked {
  outline: none;
  text-decoration: none;
}

.view-ticket-popup {
  box-shadow: 0px 0px 1000px black;
  position: fixed;
  z-index: -1;
  top: 0px;
  left: calc(50% - 452px);
  display: flex;
  opacity: 0 !important;
  transition: 0.2s ease-in;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  width: 904px;
}
.view-ticket-popup .view-popup-title {
  padding: 28px 60px;
  display: flex;
  align-items: center;
  background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
}
.view-ticket-popup .view-popup-title .view-popup-hr {
  height: 1px;
  width: 100%;
  border: none;
  background: linear-gradient(270deg, rgba(19, 16, 69, 0) 2.15%, #FFA114 47.35%, rgba(19, 16, 69, 0) 97.52%);
}
.view-ticket-popup .view-popup-title span {
  font-weight: 300;
  font-size: 35px;
  line-height: 43px;
  white-space: nowrap;
}
.view-ticket-popup .view-popup-body {
  backdrop-filter: blur(25px);
  padding: 24px 0;
  padding-bottom: 0;
}
.view-ticket-popup .view-popup-body tr.view-popup-tr td {
  padding: 26px 0;
  text-align: center;
}
.view-ticket-popup .view-popup-body tr.view-popup-tr td .round-result {
  color: #00A3FF;
}
.view-ticket-popup .view-popup-body tr.view-popup-tr td:not(:last-of-type) {
  width: 150px;
}
.view-ticket-popup .view-popup-body tr.view-popup-tr td:last-of-type {
  width: 200px;
}
.view-ticket-popup .view-popup-body tr.view-popup-tr:not(:first-of-type) td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.view-ticket-popup .view-popup-body tr.view-popup-tr:not(:first-of-type) td:first-of-type {
  color: #00A3FF;
}
.view-ticket-popup .view-popup-body tr.view-popup-tr:not(:first-of-type) td:nth-of-type(4) {
  color: rgba(255, 255, 255, 0.3);
}
.view-ticket-popup .view-popup-body tr.view-popup-tr:first-of-type td {
  padding: 0;
}
.view-ticket-popup .view-popup-body tr.view-popup-tr:last-of-type td {
  border: none;
}
.view-ticket-popup .title-tr td {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.2);
}

.view-ticket-popup-active {
  top: 45px;
  z-index: 1000000;
  opacity: 1 !important;
  transition: 0.2s ease-out;
}

.buy-ticket-popup {
  box-shadow: 0px 0px 1000px black;
  position: fixed;
  z-index: -1;
  top: 0px;
  border-radius: 15px;
  left: calc(50% - 480px);
  display: flex;
  opacity: 0 !important;
  transition: 0.2s ease-in;
}
.buy-ticket-popup .popup-body {
  width: 960px;
  display: flex;
  flex-direction: column;
}
.buy-ticket-popup .add-button {
  display: flex;
  flex-direction: row;
}
.buy-ticket-popup .add-account {
  display: flex;
  align-items: center;
}
.buy-ticket-popup .add-account svg {
  margin: 0 10px;
}
.buy-ticket-popup .add-account span:last-of-type {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}
.buy-ticket-popup .title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.3;
}
.buy-ticket-popup .add-button .set-max {
  width: 170px;
  margin: 0;
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  position: relative;
}
.buy-ticket-popup .add-button .set-max:active {
  top: 2px;
}
.buy-ticket-popup .add-button .set-max.orange:hover::before {
  content: "";
  background: #FFA114;
  filter: blur(35px);
  border-radius: 15px;
  width: 100%;
  opacity: 0.1;
  height: 100%;
  position: absolute;
  left: 0;
  transition: 0.2s ease;
  top: 0;
}
.buy-ticket-popup .set-50 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 120px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  position: relative;
}
.buy-ticket-popup .set-50:active {
  top: 2px;
}

.buy-ticket-popup-active {
  top: 45px;
  z-index: 1000000;
  opacity: 1 !important;
  transition: 0.2s ease-out;
}

.popup-title {
  padding: 35px 60px;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 43px;
  background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
}

.popup-buy-body {
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  padding: 40px 60px;
  justify-content: space-between;
  position: relative;
}
.popup-buy-body .popup-input-cont {
  display: flex;
  flex-direction: column;
}
.popup-buy-body .popup-add-cont {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.popup-info {
  background: linear-gradient(93.47deg, #3C3F98 1.9%, #191A51 95.83%);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px;
  display: flex;
  padding: 22px 60px;
  justify-content: space-between;
}
.popup-info .info-energy-lost {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(45px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  padding: 12px 24px;
}
.popup-info .info-energy-lost span {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
}
.popup-info .info-energy-lost span:first-of-type {
  color: #FFA114;
}
.popup-info .info-energy-lost span:last-of-type {
  margin-right: 10px;
}
.popup-info .info-tooltip {
  display: flex;
  flex-direction: column;
}
.popup-info .info-tooltip p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
}

.confirm-btn {
  width: 270px;
  height: auto;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  background: #00A3FF;
}

@media (max-width: 1010px) {
  .buy-ticket-popup {
    width: 80%;
    left: calc(50% - 40%);
  }
  .buy-ticket-popup .popup-body {
    width: 100%;
  }

  .popup-title {
    font-size: 25px;
  }

  .popup-input-cont input {
    width: 50%;
  }

  .confirm-btn {
    width: 150px;
  }

  .popup-info .info-tooltip p {
    font-size: 10px;
  }

  .buy-ticket-popup .add-button .set-max {
    width: 17.7083333333vw;
  }

  .buy-ticket-popup .set-50 {
    width: 10.4166666667vw;
  }
}
@media (max-width: 805px) {
  .popup-info .info-energy-lost {
    padding: 14px;
    height: fit-content;
    align-self: center;
  }

  .popup-input-cont input {
    width: 70%;
  }

  .confirm-btn {
    width: 100px;
    font-size: 15px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-info {
    padding: 22px 30px;
  }

  .popup-buy-body {
    padding: 40px 30px;
  }

  .popup-title {
    padding: 35px 30px;
  }

  .buy-ticket-popup .title {
    white-space: nowrap;
  }
}
@media (max-width: 660px) {
  .popup-info .info-tooltip {
    flex-direction: unset;
    margin-bottom: 15px;
  }
  .popup-info .info-tooltip svg {
    align-self: center;
  }

  .popup-info .info-tooltip p {
    font-size: 14px;
    margin-left: 10px;
  }

  .popup-info {
    flex-direction: column;
  }

  .popup-info .info-energy-lost {
    width: 100%;
    justify-content: center;
  }

  .confirm-btn {
    width: 100%;
    margin-top: 20px;
    padding: 20px 0px;
  }
}
@media (max-width: 600px) {
  .popup-buy-body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .popup-buy-body .popup-input-cont {
    width: 100%;
    align-items: center;
  }

  .popup-buy-body .popup-add-cont {
    margin-top: 20px;
    width: 100%;
    align-items: center;
  }

  .buy-ticket-popup .add-button {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .buy-ticket-popup .add-button .set-max {
    padding: 10px 20px;
    width: 170px;
  }

  .buy-ticket-popup .set-50 {
    padding: 10px 15px;
    width: 120px;
  }

  .popup-input-cont input {
    width: 100%;
  }
}
@media (max-width: 930px) {
  .view-ticket-popup {
    width: 80%;
    left: calc(50% - 40%);
  }

  .view-ticket-popup .view-popup-body tr.view-popup-tr:not(:first-of-type) td {
    font-size: 2.0833333333vw;
  }
}
@media (max-width: 605px) {
  .view-ticket-popup .view-popup-title span {
    font-size: 25px;
  }

  .view-ticket-popup .view-popup-title {
    padding: 18px 30px;
  }

  .view-ticket-popup .view-popup-body tr.view-popup-tr:not(:first-of-type) td {
    font-size: 15px;
  }
}
@media (max-width: 382px) {
  .view-ticket-popup .title-tr td {
    font-size: 13px;
  }
}
@media (max-width: 345px) {
  .view-ticket-popup {
    width: 90%;
    left: calc(50% - 45%);
  }
}