* {
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  color: #fff;
  user-select: none;
}

.stack-graph-body {
  height: 18.2291666667vw;
  width: 17.1875vw;
  padding: 1.5625vw 2.34375vw;
  background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  top: -1.0416666667vw;
}

.stack-graph {
  display: flex;
  justify-self: center;
  width: 19.2708333333vw;
  justify-content: center;
  background: linear-gradient(93.58deg, rgba(62, 66, 182, 0.5) -19.17%, rgba(32, 34, 105, 0.5) 95.81%);
  border-radius: 15px;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 0.78125vw;
}

h2,
h3 {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3);
}

h3 {
  margin-bottom: 2.0833333333vw;
}

.draws_container {
  display: flex;
  flex-direction: column;
}

.current-round-info {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  border: 1px solid #2C2E78;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8229166667vw 2.0833333333vw;
}
.current-round-info .curren-pot {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.current-round-info .pot-tickets-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.total-energy-img {
  width: 2.6041666667vw;
  height: 2.9166666667vw;
  margin-right: 1.0416666667vw;
}

.pot-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3);
}

.tickets-button {
  padding: 0.8333333333vw 2.2916666667vw;
  border-radius: 15px;
  min-width: 9.6354166667vw;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-top: 0.5208333333vw;
}
.tickets-button:hover {
  cursor: pointer;
}
.tickets-button:active {
  position: relative;
  top: 2px;
}

.view-tickets {
  background: #00A3FF;
  margin-left: 0.78125vw;
}

.buy-ticket {
  border: 1px solid #FFA114;
  color: #FFA114;
}

.collect-energy {
  width: 15.625vw;
  height: 4.6875vw;
  margin: 0;
  margin-bottom: -0.5208333333vw;
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 24px;
}

.total-energy-amount,
.tickets-amount {
  font-weight: 500;
  font-size: 2.34375vw;
  line-height: 55px;
}

.total-energy-mount div {
  display: flex;
  align-items: center;
  margin: 0.78125vw 0;
}

.round-end-time-container {
  margin: 0 auto;
  top: -8.8541666667vw;
  left: -0.2604166667vw;
  position: relative;
  margin-bottom: -7.8125vw;
}
.round-end-time-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.round-end-time-container div span {
  font-weight: 300;
  font-size: 0.9375vw;
  line-height: 24px;
}

.total-amount {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}
.total-amount span {
  color: #00A3FF;
}

.pools_container .pools_card_list .pool_card .card-pool-stack {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.last_rounds_container .pool_card.total-round-card {
  background: none;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(25px);
  border-radius: 15px;
}
.last_rounds_container .card-title {
  background: linear-gradient(93.58deg, #3C3F98 -19.17%, #191A51 95.81%);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 15px 15px 0px 0px;
}
.last_rounds_container .card-title span {
  margin: auto;
}
.last_rounds_container .total-lottery-number {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
  padding: 0 2.0833333333vw;
  background: linear-gradient(94.9deg, #292B76 0.81%, #1A1C52 95.55%);
}
.last_rounds_container .total-lottery-number .lottery-number--digit {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(45px);
  border-radius: 15px;
  height: 3.6458333333vw;
  width: 3.6458333333vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last_rounds_container .total-lottery-number .lottery-number--digit span {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #FFA114;
}

.total-energy-mount {
  margin: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-energy-mount div {
  margin: 0;
  margin-bottom: 0.78125vw;
}

.pool_card {
  border: 1px solid #2C2E78;
}

.total-coincidence {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.3020833333vw 0;
}
.total-coincidence .coincidence-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.total-coincidence .coincidence-item:nth-of-type(2) {
  margin: 0 2.0833333333vw;
}
.total-coincidence .coincidence-item .pot-title {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  width: 4.2708333333vw;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.3;
}
.total-coincidence .coincidence-item .number-of-coincidences {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #00A3FF;
}

.line-article-container .article_text {
  white-space: nowrap;
}

@media (max-width: 1650px) {
  .round-end-time-container {
    margin-left: 20.8333333333vw;
  }

  .pools_container .pools_card_list {
    flex-wrap: unset;
  }
}
@media (max-width: 1366px) {
  .round-end-time-container {
    top: unset;
    left: unset;
    margin: unset;
  }

  .tickets-actions {
    display: flex;
    position: absolute;
    top: 28.7037037037vh;
    left: 85px;
    margin: 0 auto;
  }

  .current-round-info {
    align-items: flex-start;
  }
  .current-round-info > div {
    width: 50%;
  }
  .current-round-info .pot-title {
    text-align: center;
  }
  .current-round-info .curren-pot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .current-round-info .curren-pot * {
    text-align: center;
  }

  .current-round-info .pot-tickets-container {
    align-items: center;
    display: flex;
  }

  .current_round_container > div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .pools_container .pools_card_list .pool_card {
    width: 20.8333333333vw;
  }

  .total-coincidence .coincidence-item .pot-title {
    font-size: 0.8854166667vw;
    line-height: 125%;
  }
}
@media (max-width: 1080px) {
  .pools_container {
    margin-top: 5.2083333333vw;
  }

  .round-end-time-container div span {
    font-size: 1.3020833333vw;
  }

  .total-amount {
    font-size: 2.0833333333vw;
  }

  .total-energy-mount div {
    margin-bottom: 0;
  }

  .current-round-info .curren-pot {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .current-round-info .curren-pot .total-energy-mount {
    margin: unset;
  }

  .tickets-actions {
    top: 26.703704vh;
    margin: 0 auto;
  }
}