@media (max-width: 1500px) {
  .pools_container .pools_card_list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pools_container .pools_card_list .pool_card .card-pool-multipliers .multiplier *,
.pools_container .pools_card_list .pool_card .card-pool-multipliers .multiplier .mult-counter,
.pools_container .pools_card_list .pool_card .card-pool-multipliers .multiplier .mult-counter > .end-bonus {
    font-size: 13px;
  }

  .pools_container .pools_card_list .pool_card .card-token-progress .profit-percents {
    font-size: 25px;
  }

  .pools_container .pools_card_list .pool_card {
    width: 40%;
    max-width: unset;
    margin-bottom: 20px;
  }
}
@media (max-width: 1377px) {
  .stack_stat .stack-graph .stack-graph--body {
    flex-direction: column;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info {
    flex-direction: row;
    justify-content: space-between;
    margin-right: unset;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-body {
    width: 100%;
    max-width: unset;
    margin-top: 15px;
  }

  .info-title {
    align-items: flex-start;
    align-self: flex-start;
    position: relative;
    height: auto;
  }
  .info-title hr {
    bottom: 0;
    position: absolute;
    margin: 0 !important;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info button.graph-button {
    height: fit-content;
    align-self: center;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-title {
    line-height: 125%;
    top: -5px;
    position: relative;
    font-size: 3.3854166667vw;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-pending,
.stack_stat .stack-graph .stack-graph--body .graph-info .graph-worth {
    justify-content: space-around;
    height: auto;
    white-space: nowrap;
  }
  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-pending p,
.stack_stat .stack-graph .stack-graph--body .graph-info .graph-worth p {
    margin: 0;
  }
}
@media (max-width: 1250px) {
  .stack_stat .energy_account-container {
    flex-direction: column;
  }

  .assigments_container .assigment-item .as-title .as-title--img .title-circle .third-stake--fig {
    padding-left: 0;
  }

  .assigments_container .assigment-item .as-title .as-title--img .title-circle svg {
    height: 1.08125vw;
    width: 1.320833vw;
  }

  .stack_stat .energy_account-container .energy-spot {
    margin-left: 0;
    align-items: unset;
    max-width: unset;
    width: fit-content;
    justify-self: flex-start;
  }
  .stack_stat .energy_account-container .energy-spot .spot-body {
    margin-right: 20px;
  }

  .stack_stat .energy_account-container .energy-spot .spot-button {
    height: auto;
  }

  .stack_stat .energy_account-container .energy-actions {
    width: 100%;
  }

  .stack_stat .energy_account-container .energy-actions {
    align-items: unset;
  }
  .stack_stat .energy_account-container .energy-actions .token-cont,
.stack_stat .energy_account-container .energy-actions .token-pocket,
.stack_stat .energy_account-container .energy-actions .token-price {
    height: auto;
  }
}
@media (max-width: 1125px) {
  .assigments_container .assigment-item .as-prize span {
    font-size: 15px;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-pending p,
.stack_stat .stack-graph .stack-graph--body .graph-info .graph-worth p {
    font-size: 15px;
  }

  .stack_stat .stack-title .stack-cash p {
    font-size: 25px;
  }

  .stack_stat .stack-title .token {
    font-size: 15px;
    line-height: 125%;
  }
  .stack_stat .stack-title .token .token-img {
    width: 2.5625vw;
    height: 2.770833vw;
  }

  .pools_container .pools_card_list .pool_card .card-token-progress .profit-percents {
    white-space: nowrap;
  }

  .pools_container .pools_card_list .pool_card {
    width: 270px;
    border-radius: 15px;
  }
  .pools_container .pools_card_list .pool_card > div {
    padding: 8px 17px !important;
  }

  .pools_container .pools_card_list .pool_card .progress-bar {
    max-width: unset;
  }

  .pools_container .pools_card_list .pool_card button.details-button {
    border-radius: 0 0 15px 15px;
  }
}
@media (max-width: 900px) {
  .stack_stat .stack-graph .stack-graph--body .graph-info button.graph-button {
    display: none;
  }

  .assigments_container .assigment-item .as-prize span {
    font-size: 13px;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-body {
    margin-top: 1.3020833333vw;
  }

  .stack_stat .energy_account-container .energy-actions .token-cont div p {
    white-space: nowrap;
  }

  .stack_stat .stack-graph .stack-graph--body {
    top: -10px;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-title {
    line-height: 125%;
    font-size: 4.9479166667vw;
  }

  .stack_stat .stack-graph .stack-graph--body {
    min-height: unset;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-pending,
.stack_stat .stack-graph .stack-graph--body .graph-info .graph-worth {
    font-size: 2.0833333333vw;
    justify-content: space-between;
  }
  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-pending p,
.stack_stat .stack-graph .stack-graph--body .graph-info .graph-worth p {
    font-size: 2.0833333333vw;
  }
}
@media (max-width: 780px) {
  .stack_stat .energy_account-container .energy-actions {
    margin-bottom: 50px;
  }
  .stack_stat .energy_account-container .energy-actions .token-img {
    width: 33px;
    height: 35px;
    margin-right: 0.8333333333vw;
  }
  .stack_stat .energy_account-container .energy-actions .token-action-btns {
    position: absolute;
    left: 46%;
    margin-top: 10.9375vw;
  }
  .stack_stat .energy_account-container .energy-actions .token-cont {
    padding: 2.145833vw 2.40625vw;
  }

  .assigment-item .as-title .as-title--img {
    height: 35px !important;
    width: 35px !important;
  }
  .assigment-item .as-title .as-title--img .title-circle {
    width: 20px !important;
    height: 20px !important;
  }
  .assigment-item .as-title .as-title--img .title-circle span {
    font-size: 11px !important;
    left: 0.5px !important;
    position: relative !important;
  }

  .stack_stat .energy_account-container .energy-spot {
    display: none;
  }

  .token-action-btns {
    margin-left: -14.0625vw;
  }
  .token-action-btns .orange {
    padding: 14px 40px;
    margin-right: 5px;
  }
  .token-action-btns .blue {
    padding: 14px 60px;
  }
}
@media (max-width: 740px) {
  .stack_stat .stack-title {
    justify-content: space-between;
  }
  .stack_stat .stack-title .title_hr {
    display: none;
  }

  .slider .slider-navigation .nav-planks .item_plank {
    width: 5.041667vw;
  }

  .assigments_container .assigment-item .as-prize span {
    font-size: 10px;
  }

  .assigments_container .assigment-item .as-title span {
    font-size: 12px;
  }

  .assigments_container .as-modified .as-title,
.assigments_container .as-modified .as-description,
.assigments_container .as-modified .as-prize {
    padding: 2vw 3vw;
  }

  .assigments_container .assigment-item .as-title .as-title--img .title-circle .third-stake--fig {
    margin-left: 5px;
  }

  .assigments_container .assigment-item .as-title .as-title--img {
    border-radius: 9px;
    min-width: 35px;
    min-height: 35px;
  }

  .assigments_container .assigment-item .as-description p {
    font-size: 13px;
  }
}
@media (max-width: 630px) {
  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-title {
    top: 0;
  }

  .stack_stat .stack-title {
    flex-direction: column;
  }

  .stack_stat .stack-title .token .token_price {
    padding: 2.09375vw 2.3958333333vw;
  }

  .stack_stat .stack-title .token {
    background: rgba(255, 255, 255, 0.01);
    padding-left: 2.3958333333vw;
    border-radius: 15px;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .stack_stat .stack-graph .stack-graph--body {
    max-width: 83.104167vw;
  }

  .slider .slider-navigation .nav__button_left svg,
.slider .slider-navigation .nav__button_right svg {
    display: none;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-pending,
.stack_stat .stack-graph .stack-graph--body .graph-info .graph-worth {
    font-size: 3.125vw;
    justify-content: space-between;
  }
  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-pending p,
.stack_stat .stack-graph .stack-graph--body .graph-info .graph-worth p {
    font-size: 3.125vw;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-title {
    line-height: 125%;
    align-self: flex-start;
  }

  .info-title {
    align-self: unset;
  }
  .info-title hr {
    margin-bottom: 5px !important;
  }

  .stack_stat .stack-graph .stack-graph--body {
    padding: 3.5625vw 4.34375vw;
  }

  .stack_stat .stack-title {
    margin-bottom: 25px;
  }

  .stack_stat .energy_account-container .energy-actions .token-price,
.stack_stat .energy_account-container .energy-actions .token-pocket {
    padding: 0 4.40625vw;
  }
}
@media (max-width: 520px) {
  .stack_stat .energy_account-container .energy-actions .token-cont {
    padding: 3.145833vw 4.40625vw;
  }

  .stack_stat .energy_account-container .energy-actions .token-action-btns {
    margin-top: 14.5833333333vw;
  }

  .stack_stat .energy_account-container .energy-actions .token-price,
.stack_stat .energy_account-container .energy-actions .token-pocket {
    font-size: 13px;
  }
  .stack_stat .energy_account-container .energy-actions .token-price svg,
.stack_stat .energy_account-container .energy-actions .token-pocket svg {
    width: 20px;
    height: 21px;
  }

  .pools_container .pools_card_list .pool_card .card-pool-multipliers .multiplier *,
.pools_container .pools_card_list .pool_card .card-pool-multipliers .multiplier .mult-counter,
.pools_container .pools_card_list .pool_card .card-pool-multipliers .multiplier .mult-counter > .end-bonus {
    font-size: 11px;
  }

  .pools_container .pools_card_list .pool_card .card-pool-multipliers .multiplier .multiplier-level {
    padding: 1.616667vw 1.772917vw;
    border-radius: 11px;
  }

  .pools_container .pools_card_list .pool_card .card-token-progress .profit-title {
    font-size: 16px;
  }

  .pools_container .pools_card_list .pool_card .card-title .token-fox-tag {
    border-radius: 15px;
    padding: 0.104167vw 1.625vw;
    margin-left: 10px;
  }

  .pools_container .pools_card_list .pool_card .card-pool-stack .orange {
    padding: 10px 30px !important;
    font-size: 11px !important;
  }

  .pools_container .pools_card_list .pool_card .card-pool-earned .full-blue {
    padding: 10px 30px !important;
    font-size: 11px !important;
  }

  .pools_container .pools_card_list .token-stack-name {
    font-weight: 300;
    margin-bottom: 10px;
  }

  .pools_container .pools_card_list .stack-amount {
    font-weight: 300;
    font-size: 30px;
  }

  .pools_container .pools_card_list .pool_card .card-title-token {
    font-size: 12px;
  }
  .pools_container .pools_card_list .pool_card .card-title-token .token-img {
    width: 5.5625vw;
    height: 5.770833vw;
    margin-right: 10px;
  }

  .pools_container .pools_card_list .pool_card button.details-button {
    padding: 3.302083vw 0;
  }

  .pools_container .pools_card_list .pool_card button.details-button svg {
    margin-left: 10px;
  }

  .pools_container .pools_card_list .pool_card > div {
    padding: 11px 17px !important;
  }

  .full-blue {
    font-size: 11px;
    padding: 1.78125vw 4.5625vw;
    border-radius: 12px;
  }
}
@media (max-width: 455px) {
  .stack_stat .energy_account-container .energy-actions .token-action-btns {
    left: 36%;
  }

  .stack_stat .energy_account-container .energy-actions .token-cont div p {
    font-size: 2.6041666667vw;
  }
  .stack_stat .energy_account-container .energy-actions .token-cont div p span {
    font-size: 2.6041666667vw;
  }

  .stack_stat .energy_account-container .energy-actions .token-cont div span {
    font-size: 4.1666666667vw;
  }

  .stack_stat .energy_account-container .energy-actions .token-cont {
    padding-right: 0;
  }
}
@media (max-width: 390px) {
  .stack_stat .stack-title .stack-cash p {
    font-size: 20px;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-info .graph-pending p,
.stack_stat .stack-graph .stack-graph--body .graph-info .graph-worth p {
    font-size: 2.625vw;
  }

  .stack_stat .stack-title .token .token-img {
    width: 4.5625vw;
    height: 4.770833vw;
  }

  .slider {
    height: 23vw;
  }

  .stack_stat .energy_account-container .energy-actions .token-action-btns {
    left: 39%;
    margin-top: 17.1875vw;
  }

  .info-title hr {
    margin-bottom: 9px !important;
    width: 14.072917vw !important;
  }

  .token-action-btns .blue,
.token-action-btns .orange {
    padding: 9px 30px;
    font-size: 11px;
  }

  .stack_stat .stack-graph .stack-graph--body {
    max-width: 81.104167vw;
  }

  .stack_stat .stack-title .token {
    border-radius: 10px;
  }

  .stack_stat .stack-graph .stack-graph--body .graph-body #myChart {
    width: 104% !important;
    height: auto !important;
    margin-left: -11px;
  }

  .stack_stat .energy_account-container .energy-actions .token-cont div p {
    margin-top: 0;
  }

  .stack_stat .energy_account-container .energy-actions .token-img {
    width: 23px;
    height: 25px;
    margin-right: 10px;
  }
}