@media (max-width: 1880px) and (min-width: 1600px) {
  .container aside .nav_button .button_icon svg {
    margin-top: 0;
    margin-left: 1px;
  }

  .container aside .dashboard .button_icon svg {
    margin-top: -2px;
    margin-left: 1px;
  }
}
@media (max-width: 1600px) and (min-width: 1366px) {
  .container aside .nav_button.stacking svg {
    margin-top: 0.0520833333vw;
  }
  .container aside .nav_button.energy svg {
    height: 1.4583333333vw;
    margin-left: -0.0260416667vw;
  }
  .container aside .nav_button.refferals svg {
    margin-top: 0.0520833333vw;
  }
  .container aside .nav_button.achievements svg {
    height: 1.4583333333vw;
    margin-left: 0.0260416667vw;
    margin-top: 0.0260416667vw;
  }
  .container aside .nav_button.wiki svg {
    height: 1.3020833333vw;
    margin-left: 0.0260416667vw;
    margin-top: 0.0260416667vw;
  }
  .container aside .nav_button .button_icon {
    border-radius: 10px;
  }
  .container aside .nav_button .button_icon svg {
    width: 1.25vw;
  }
}
@media (max-width: 1366px) {
  .social_media_links-container {
    justify-content: space-between;
    width: 90%;
    padding-right: 0;
  }
  .social_media_links-container .link svg {
    width: 20px;
  }

  .container aside {
    padding-top: 0;
  }
  .container aside .nav_button.active {
    border-radius: 10px;
    width: 90%;
  }
  .container aside .user_medals-container * {
    font-size: 13px;
  }
  .container aside .nav_button .button_icon {
    border-radius: 10px;
  }
  .container aside .nav_button .button_icon svg {
    width: 1.25vw;
  }

  .container {
    grid-template-columns: 17vw auto;
  }
  .container aside .nav_button .button_icon {
    width: 0.78125vw;
    height: 0.78125vw;
    border-radius: 50%;
  }
  .container aside .nav_button .button_icon svg {
    display: none;
  }
  .container aside .nav_button .button_title {
    margin-left: 0.9375vw;
    font-weight: 400;
  }

  .container aside .user_medals-container .received_medals-title {
    font-size: 11px;
  }

  .container aside .user_medals-container p {
    margin-bottom: 0;
  }

  .change_lang-container {
    margin-top: -10px;
  }

  .container aside .social_media_links-container {
    margin-top: 10px;
    padding-right: 0;
  }

  .header {
    margin-bottom: 1.0416666667vw;
  }
  .header .user_avatar {
    width: 4.6875vw;
    height: 4.6875vw;
    border-radius: 50%;
  }

  .header div button {
    width: 4.6875vw;
    height: 4.6875vw;
    align-self: center;
    border-radius: 0.78125vw;
  }
  .header div .user_info-short {
    margin-right: 1.5625vw;
  }
  .header div .user_info-short div p span,
.header div .user_info-short div p .user_account {
    font-size: 15px;
  }
  .header div .user_info-short div span {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .container aside .nav_button .button_icon {
    display: none;
  }

  .user_medals-container,
.container aside .social_media_links-container {
    display: none;
  }

  .container {
    grid-template-columns: 18vw auto;
  }

  .header a img {
    width: 20.8333333333vw;
  }

  .change_lang-btn {
    margin-left: 1.5625vw;
  }

  .container aside .change_lang-container button.change_lang-btn span.lang-title {
    font-size: 1.8229166667vw;
    margin-left: 1.0416666667vw;
  }

  .container aside .change_lang-container {
    padding-bottom: 20px;
  }

  .user_medals-container span {
    display: none;
  }
  .user_medals-container p {
    text-align: center;
  }

  .container aside .user_medals-container .medals {
    width: 100%;
    margin: 0;
    margin-top: 1.0416666667vw;
  }

  .container aside .user_medals-container .medals {
    padding: 3.6458333333vw 1.0416666667vw;
    border-radius: 0.5208333333vw;
  }
  .container aside .user_medals-container .medals img[alt=medal] {
    width: 4.6875vw;
    height: 4.6875vw;
  }

  .social_media_links-container {
    width: 100%;
  }

  .container aside .social_media_links-container {
    margin: auto;
    width: 90%;
    margin-top: 1.0416666667vw;
  }

  .container aside .user_medals-container p {
    margin-bottom: 1.0416666667vw;
  }
  .container aside .user_medals-container .medals {
    margin: auto;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 0.5208333333vw;
  }
  .container aside .user_medals-container .medals img {
    margin: 0.5208333333vw;
  }

  .container aside .nav_button .button_title {
    font-size: 1.8229166667vw;
  }

  .social_media_links-container {
    flex-direction: column;
  }

  .header div .user_info-short div span {
    font-size: 2.0833333333vw;
  }

  .header div .user_info-short div p span,
.header div .user_info-short div p .user_account {
    font-size: 1.8229166667vw;
  }
}
.header div .user_info-short {
  align-items: center;
}

.burger-btn {
  font-size: 18px;
  font-weight: 200;
  display: none !important;
  outline: none !important;
}
.burger-btn:active, .burger-btn:hover {
  outline: none !important;
  border: none !important;
}

.active-aside {
  max-height: 500px !important;
  overflow: visible !important;
}

.dashboard {
  margin-top: 0 !important;
  padding-top: 10px !important;
}

@media (max-width: 600px) {
  .burger-btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .burger-btn svg {
    margin: 0 !important;
    height: 20px;
  }

  .change_lang-btn .lang-content {
    font-size: 15px;
  }

  .burger-btn {
    font-size: 15px;
  }

  .container aside .nav_button .button_title {
    font-size: 15px;
  }

  .container {
    display: block;
    border-right: none;
  }
  .container .page_main_content {
    max-width: 93.75vw;
  }

  .container aside .nav_button .button_icon {
    display: flex;
    width: 2.78125vw;
    height: 2.78125vw;
    border-radius: 50%;
    margin-right: 10px;
  }

  nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .container aside .change_lang-container form.change_lang-btn .lang-title {
    font-weight: 500;
    font-size: 15px;
  }

  aside.aside {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: 0.2s ease;
  }

  .container aside .nav_button .button_title {
    font-size: 15px;
  }

  .container aside .nav_button {
    height: 40px;
  }

  .header {
    padding: 7.8125vw 0;
  }
  .header div button {
    height: 10.4166666667vw;
    width: 10.4166666667vw;
    border: none;
  }
  .header a img {
    width: 39.0625vw;
  }
  .header .user_info-short .user_avatar {
    height: 10.4166666667vw;
    width: 10.4166666667vw;
  }
  .header .user_info-short div * {
    display: none;
  }
}