.page_main_content * {
  font-weight: 300;
}
.page_main_content > .orange_line {
  margin: 3.0729166667vw 0;
}

.rules_info {
  display: flex;
  justify-content: space-between;
  gap: 5.2083333333vw;
}
.rules_info .text {
  font-size: 0.78125vw;
  line-height: 200%;
  color: rgba(255, 255, 255, 0.3);
}
.rules_info__text .title {
  font-size: 1.8229166667vw;
  line-height: 2.2395833333vw;
  color: #ffffff;
  margin-bottom: 1.25vw;
}
.rules_info__text .text:last-of-type {
  color: #ffffff;
  margin-top: 1.3541666667vw;
}
.rules_info__block {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1.3020833333vw);
  border-radius: 0.78125vw;
  padding: 1.3541666667vw 1.8229166667vw 1.6145833333vw 1.8229166667vw;
  border: 0.0520833333vw solid #292b72;
}
.rules_info__block ul {
  margin: 0 0 1.25vw 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}
.rules_info__block ul li {
  font-size: 0.625vw;
  line-height: 0.78125vw;
  color: #00a3ff;
}
.rules_info__block ul li span {
  margin: 0 0.15625vw;
}
.rules_info__block ul .text {
  line-height: 1.3020833333vw;
}

.orange_line {
  border: 0;
  height: 0.0520833333vw;
  background: linear-gradient(270deg, rgba(19, 16, 69, 0) 2.15%, #ffa114 47.35%, rgba(19, 16, 69, 0) 97.52%);
}

.count {
  background: none;
}
.count, .count:active, .count:hover {
  outline: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.withdraw {
  display: flex;
  justify-content: space-between;
  gap: 5.9895833333vw;
  padding-right: 0.9895833333vw;
  padding-bottom: 7.8125vw;
}
.withdraw__block {
  height: fit-content;
  width: 17.7604166667vw;
  border-radius: 0.78125vw;
}
.withdraw__block:nth-of-type(1) {
  border: 0.0520833333vw solid #2d2f79;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(1.3020833333vw);
}
.withdraw__block:nth-of-type(1) .withdraw__block__footer {
  padding-bottom: 1.40625vw;
}
.withdraw__block:nth-of-type(1) .withdraw_button {
  background-color: rgba(255, 255, 255, 0.1);
}
.withdraw__block:nth-of-type(2) .withdraw__block__block {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2.34375vw);
  border: 0.0520833333vw solid #ffa114c4;
  border-radius: 0.78125vw;
}
.withdraw__block:nth-of-type(2) .time p:last-of-type {
  color: #ffa114;
}
.withdraw__block:nth-of-type(2) .value {
  color: #ffa114;
}
.withdraw__block:nth-of-type(2) .count {
  border-color: #ffa114;
}
.withdraw__block:nth-of-type(2) .withdraw_button {
  background-color: #ffa114;
}
.withdraw__block:nth-of-type(2) .maximum p span {
  color: #ffa114;
}
.withdraw__block:nth-of-type(2) .withdraw__block__back {
  background: rgba(255, 255, 255, 0.05);
}
.withdraw__block:nth-of-type(3) .withdraw__block__block {
  border: 0.0520833333vw solid #00a2ffc9;
  background: linear-gradient(93.58deg, #3c3f98 -19.17%, #191a51 95.81%);
  box-shadow: 0 0.2083333333vw 2.34375vw rgba(0, 0, 0, 0.35);
  border-radius: 0.78125vw;
}
.withdraw__block:nth-of-type(3) .time p:last-of-type {
  color: #00a2ff;
}
.withdraw__block:nth-of-type(3) .value {
  color: #00a2ff;
}
.withdraw__block:nth-of-type(3) .count {
  border-color: #00a2ff;
}
.withdraw__block:nth-of-type(3) .withdraw_button {
  background-color: #00a3ff;
}
.withdraw__block:nth-of-type(3) .maximum p span {
  color: #00a2ff;
}
.withdraw__block:nth-of-type(3) .withdraw__block__header,
.withdraw__block:nth-of-type(3) .withdraw__block__section:nth-of-type(3) {
  background: linear-gradient(94.9deg, #292b76 0.81%, #1a1c52 95.55%);
}
.withdraw__block:nth-of-type(3) .withdraw__block__back {
  background: linear-gradient(93.58deg, rgba(62, 66, 182, 0.5) -19.17%, rgba(32, 34, 105, 0.5) 95.81%);
}
.withdraw__block:nth-of-type(2), .withdraw__block:nth-of-type(3) {
  position: relative;
  z-index: 1;
}
.withdraw__block:nth-of-type(2) .withdraw__block__back, .withdraw__block:nth-of-type(3) .withdraw__block__back {
  position: absolute;
  content: "";
  width: 19.7916666667vw;
  height: 33.8541666667vw;
  bottom: -4.0625vw;
  border-radius: inherit;
  left: -1.0416666667vw;
  z-index: -1;
}
.withdraw__block:nth-of-type(2) .maximum, .withdraw__block:nth-of-type(3) .maximum {
  padding-top: 0.78125vw;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
}
.withdraw__block__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8854166667vw 1.3541666667vw;
  border-bottom: 0.0520833333vw solid rgba(255, 255, 255, 0.1);
  border-radius: 0.78125vw 0.78125vw 0 0;
}
.withdraw__block__header .title {
  font-size: 1.0416666667vw;
  line-height: 150%;
  opacity: 0.3;
}
.withdraw__block__header .time {
  text-align: right;
}
.withdraw__block__header .time p {
  font-size: 0.78125vw;
  line-height: 133%;
}
.withdraw__block__header .time p:last-of-type {
  font-weight: 500;
}
.withdraw__block__section {
  padding: 0.8854166667vw 1.3541666667vw;
  border-bottom: 0.0520833333vw solid rgba(255, 255, 255, 0.1);
}
.withdraw__block__section ._title {
  font-size: 0.78125vw;
  line-height: 200%;
  color: #ffffff;
  opacity: 0.3;
  margin-bottom: 0.2083333333vw;
}
.withdraw__block__section .value {
  font-weight: 500;
  font-size: 1.8229166667vw;
  line-height: 2.2395833333vw;
}
.withdraw__block__section .value span {
  color: #fff;
  font-weight: 500;
  margin-left: 0.5208333333vw;
}
.withdraw__block__footer {
  padding: 1.6666666667vw 1.3541666667vw 2.1875vw 1.3541666667vw;
}
.withdraw__block__footer .count {
  width: 100%;
  padding: 0.9375vw;
  border: 0.0520833333vw solid rgba(255, 255, 255, 0.1);
  border-radius: 0.78125vw;
  text-align: center;
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
  color: #ffffff;
  margin-bottom: 0.625vw;
}
.withdraw__block__footer .withdraw_button {
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
  color: #ffffff;
  padding: 1.5625vw;
  width: 100%;
  border-radius: 0.78125vw;
}
.withdraw__block__footer .maximum {
  padding-top: 1.1979166667vw;
  text-align: center;
}
.withdraw__block__footer .maximum > span {
  font-size: 0.625vw;
  line-height: 142%;
  color: #ffffff;
  opacity: 0.3;
  margin-bottom: 0.2604166667vw;
}
.withdraw__block__footer .maximum > p {
  font-weight: 500;
  font-size: 0.78125vw;
  line-height: 113%;
  color: #ffffff;
}
.withdraw__block__footer .maximum > p span {
  margin-left: 0.2604166667vw;
  font-weight: inherit;
}

@media (max-width: 1880px) and (min-width: 1600px) {
  .rules_info__block ul li {
    font-size: 0.6770833333vw;
  }
}
@media (max-width: 1600px) and (min-width: 1366px) {
  .rules_info__block ul li {
    white-space: nowrap;
    font-size: 0.8333333333vw;
  }

  .container aside .user_medals-container .received_medals-title {
    font-size: 0.8854166667vw;
  }

  .container aside .social_media_links-container {
    padding: 0;
    justify-content: flex-start;
  }
  .container aside .social_media_links-container a:not(:first-of-type) {
    margin-left: 1.0416666667vw;
  }

  .withdraw__block__footer .maximum > span {
    font-size: 0.78125vw;
    margin-bottom: 0.78125vw;
  }
}
@media (max-width: 1366px) {
  .rules_info__block ul li {
    font-size: 1.1458333333vw;
    line-height: 100%;
    white-space: nowrap;
    height: initial;
  }

  .rules_info {
    flex-direction: column;
    gap: 0;
  }

  .rules_info__text {
    margin-bottom: 2.0833333333vw;
  }

  .rules_info p.title,
.rules_info p.text:last-of-type {
    margin: 0;
  }
  .rules_info .text {
    font-size: 1.1458333333vw;
  }

  .rules_info__block {
    padding-left: 2.0833333333vw;
  }
  .rules_info__block .text {
    font-size: 1.0416666667vw;
  }

  .withdraw {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .withdraw__block {
    width: 26.0416666667vw;
  }
  .withdraw__block .title {
    font-size: 1.3541666667vw;
  }
  .withdraw__block .time p {
    font-size: 1.1458333333vw;
  }
  .withdraw__block ._title {
    font-size: 1.1458333333vw;
  }
  .withdraw__block .value {
    font-size: 2.0833333333vw;
  }
  .withdraw__block .count,
.withdraw__block .withdraw_button {
    font-size: 1.3020833333vw;
    padding: 1.5625vw;
  }
  .withdraw__block:nth-of-type(2) .withdraw__block__back,
.withdraw__block:nth-of-type(3) .withdraw__block__back {
    width: 28.6458333333vw;
    height: 39.0625vw;
    left: -1.3020833333vw;
    bottom: -5.2083333333vw;
  }

  .withdraw__block__footer .maximum > span {
    font-size: 1.0416666667vw;
    line-height: 120%;
  }
  .withdraw__block__footer .maximum > p {
    line-height: 120%;
    font-size: 1.1458333333vw;
  }

  .page_main_content > .orange_line {
    margin: 3.125vw 0;
  }
}
@media (max-width: 800px) {
  .rules_info__text .title {
    font-size: 2.6041666667vw;
  }

  .rules_info .text {
    margin-top: 1.0416666667vw;
    font-size: 1.5625vw;
  }

  .rules_info__block ul li {
    font-size: 1.5104166667vw;
  }

  .withdraw {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .withdraw__block {
    width: 29.6875vw;
  }
  .withdraw__block .title {
    font-size: 1.3541666667vw;
  }
  .withdraw__block .time p {
    font-size: 1.1458333333vw;
  }
  .withdraw__block ._title {
    font-size: 1.5625vw;
  }
  .withdraw__block .value {
    font-size: 3.125vw;
  }
  .withdraw__block .count,
.withdraw__block .withdraw_button {
    font-size: 1.5625vw;
    padding: 1.5625vw;
  }

  .withdraw__block__section {
    padding: 1.5625vw 1.5625vw;
  }

  .withdraw__block:nth-of-type(2) .withdraw__block__back,
.withdraw__block:nth-of-type(3) .withdraw__block__back {
    width: 32.2916666667vw;
    height: 46.875vw;
    left: -1.3020833333vw;
    bottom: -6.25vw;
  }

  .withdraw__block__footer .maximum > span {
    font-size: 1.3020833333vw;
    line-height: 120%;
  }
  .withdraw__block__footer .maximum > p {
    line-height: 120%;
    font-size: 1.5625vw;
  }

  .page_main_content > .orange_line {
    margin: 3.125vw 0;
  }

  .withdraw__block .count,
.withdraw__block .withdraw_button {
    padding: 2.0833333333vw;
  }
}
html,
body {
  overflow-x: hidden;
}

@media (max-width: 400px) {
  .rules_info__text .title {
    font-size: 6.25vw;
    margin-top: 2.6041666667vw;
    line-height: 150%;
    text-align: center;
  }

  .rules_info__text .text {
    font-size: 2.6041666667vw;
    line-height: 220%;
    font-weight: 100;
    text-align: center;
    padding: 0 9.375vw;
    margin-bottom: 4.1666666667vw;
  }

  .rules_info__block {
    margin-top: 2.6041666667vw;
    padding: 5.2083333333vw 4.1666666667vw;
    border-radius: 3.6458333333vw;
  }
  .rules_info__block .text {
    font-size: 2.6041666667vw;
    font-weight: 100;
  }
  .rules_info__block ul li {
    white-space: unset;
    line-height: 170%;
    font-size: 3.125vw;
    margin-bottom: 2.6041666667vw;
  }

  .withdraw {
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .withdraw__block {
    margin: auto;
    width: 83.3333333333vw;
  }
  .withdraw__block .title {
    font-size: 4.6875vw;
    margin: 3.125vw 0;
  }
  .withdraw__block .time p {
    font-size: 3.125vw;
  }
  .withdraw__block ._title {
    font-size: 3.3854166667vw;
  }
  .withdraw__block .value {
    font-size: 7.8125vw;
    line-height: 125%;
  }
  .withdraw__block .count,
.withdraw__block .withdraw_button {
    font-size: 1.5625vw;
    padding: 1.5625vw;
  }

  .withdraw__block {
    border-radius: 3.6458333333vw;
    margin-bottom: 10.4166666667vw;
  }
  .withdraw__block__section {
    padding: 3.125vw 1.5625vw;
  }

  .withdraw__block:nth-of-type(2) .withdraw__block__block,
.withdraw__block:nth-of-type(3) .withdraw__block__block {
    border-radius: 4.1666666667vw;
  }
  .withdraw__block:nth-of-type(2) .withdraw__block__block .withdraw__block__header,
.withdraw__block:nth-of-type(3) .withdraw__block__block .withdraw__block__header {
    border-radius: 4.1666666667vw 4.1666666667vw 0 0;
  }

  .withdraw__block:nth-of-type(2) .withdraw__block__back,
.withdraw__block:nth-of-type(3) .withdraw__block__back {
    width: 88.5416666667vw;
    height: 125vw;
    left: -2.6041666667vw;
    bottom: -13.0208333333vw;
  }

  .withdraw__block__footer .maximum > span {
    font-size: 2.6041666667vw;
    line-height: 120%;
  }
  .withdraw__block__footer .maximum > p {
    line-height: 120%;
    font-size: 3.125vw;
    margin-bottom: 2.6041666667vw;
  }

  .page_main_content > .orange_line {
    margin: 5.2083333333vw 0;
  }

  .withdraw__block .count,
.withdraw__block .withdraw_button {
    padding: 4.1666666667vw;
    font-size: 4.1666666667vw;
    margin-top: 2.6041666667vw;
    border-radius: 4.1666666667vw;
  }

  .withdraw__block .withdraw_button {
    padding: 8.3333333333vw 4.1666666667vw;
  }

  .withdraw__block__footer {
    padding: 2.6041666667vw 5.2083333333vw;
  }
  .withdraw__block__footer .withdraw__button {
    margin-bottom: 5.2083333333vw;
  }

  .withdraw__block__header {
    padding: 2.6041666667vw 5.2083333333vw;
  }

  .withdraw__block__section {
    padding: 2.6041666667vw 5.2083333333vw;
  }

  .orange_line {
    height: 0.1041666667vw;
  }
}